In [1]:
import tensorflow as tf
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Flatten, Dense, Dropout, BatchNormalization
from tensorflow.keras.layers import Conv1D, MaxPooling1D
from tensorflow.keras.optimizers import Adam
print(tf.__version__)

2.12.0

In [2]:
import pandas as pd
import numpy as np
import os
import math
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder

In [3]:
# filepath = "merged_u1-50_w001_resampled.csv"
filepath = "D:/online dataset csv files preprocessing/merged_u1-50_w001_resampled.csv"

df_original = pd.read_csv(filepath)

In [4]:
# filepath = "merged_u1-50_w001_resampled.csv"
filepath = "D:/online dataset csv files preprocessing/merged_31u_w002_resampled.csv"

df_original_w002 = pd.read_csv(filepath)

In [5]:
df_original_w002

,timestamp,LAx,LAy,LAz,GYx,GYy,GYz,name
0,924003860000000,1.013453,2.212255,-4.202375,0.480812,-2.015816,-0.597282,1
1,924003870000000,1.088615,2.498633,-4.932268,0.374527,-1.864929,-0.566742,1
2,924003880000000,1.199771,1.775632,-4.772740,0.118362,-1.616109,-0.313838,1
3,924003890000000,1.143096,0.354056,-3.707235,-0.239380,-1.185646,0.081375,1
4,924003900000000,1.413260,-0.693596,-1.660237,-0.468460,-0.810585,0.311668,1
...,...,...,...,...,...,...,...,...
1175114,331060670000000,-0.132586,-4.678891,6.665595,2.288254,2.362877,-1.897003,46
1175115,331060680000000,0.311918,-5.307998,6.507066,2.281822,2.470123,-1.592957,46
1175116,331060690000000,0.635345,-6.233653,5.871137,2.243980,2.550949,-1.317612,46
1175117,331060700000000,0.552270,-7.377260,5.499313,2.154648,2.634674,-1.097664,46
1175118,331060710000000,0.163980,-7.892599,6.078267,2.040344,2.815781,-0.929276,46

In [6]:
df_original

,timestamp,LAx,LAy,LAz,GYx,GYy,GYz,name
0,924313410000000,1.242813,-0.160181,-0.900440,0.194931,-0.004242,0.163818,1
1,924313420000000,1.117246,-0.187921,-1.529893,0.236458,0.076378,0.133293,1
2,924313430000000,0.912846,-0.192566,-1.570929,0.226074,0.012253,0.108246,1
3,924313440000000,0.874858,-0.227208,-1.453511,0.139336,-0.050667,0.085030,1
4,924313450000000,0.834022,-0.282976,-1.292671,-0.013374,-0.109314,0.078308,1
...,...,...,...,...,...,...,...,...
2055043,1368327120000000,-9.502644,-7.178468,4.246279,-2.834417,-0.120428,-0.987857,50
2055044,1368327130000000,-9.443804,-7.698220,3.059675,-2.638940,0.561997,-0.947715,50
2055045,1368327140000000,-8.345459,-6.805815,1.853457,-2.483606,1.225222,-0.954696,50
2055046,1368327150000000,-7.580540,-5.629017,1.559257,-2.429500,1.769765,-1.003565,50
2055047,1368327160000000,-6.952915,-4.589512,1.755390,-2.426010,2.099633,-0.980876,50

In [7]:
df_original = pd.concat([df_original, df_original_w002], axis=0)

In [8]:
df_original

,timestamp,LAx,LAy,LAz,GYx,GYy,GYz,name
0,924313410000000,1.242813,-0.160181,-0.900440,0.194931,-0.004242,0.163818,1
1,924313420000000,1.117246,-0.187921,-1.529893,0.236458,0.076378,0.133293,1
2,924313430000000,0.912846,-0.192566,-1.570929,0.226074,0.012253,0.108246,1
3,924313440000000,0.874858,-0.227208,-1.453511,0.139336,-0.050667,0.085030,1
4,924313450000000,0.834022,-0.282976,-1.292671,-0.013374,-0.109314,0.078308,1
...,...,...,...,...,...,...,...,...
1175114,331060670000000,-0.132586,-4.678891,6.665595,2.288254,2.362877,-1.897003,46
1175115,331060680000000,0.311918,-5.307998,6.507066,2.281822,2.470123,-1.592957,46
1175116,331060690000000,0.635345,-6.233653,5.871137,2.243980,2.550949,-1.317612,46
1175117,331060700000000,0.552270,-7.377260,5.499313,2.154648,2.634674,-1.097664,46
1175118,331060710000000,0.163980,-7.892599,6.078267,2.040344,2.815781,-0.929276,46

In [9]:
drop_values = [6, 31, 33, 42]

# Drop rows based on conditions in the "name" column
df_original = df_original[~df_original['name'].isin(drop_values)]
df_original

,timestamp,LAx,LAy,LAz,GYx,GYy,GYz,name
0,924313410000000,1.242813,-0.160181,-0.900440,0.194931,-0.004242,0.163818,1
1,924313420000000,1.117246,-0.187921,-1.529893,0.236458,0.076378,0.133293,1
2,924313430000000,0.912846,-0.192566,-1.570929,0.226074,0.012253,0.108246,1
3,924313440000000,0.874858,-0.227208,-1.453511,0.139336,-0.050667,0.085030,1
4,924313450000000,0.834022,-0.282976,-1.292671,-0.013374,-0.109314,0.078308,1
...,...,...,...,...,...,...,...,...
1175114,331060670000000,-0.132586,-4.678891,6.665595,2.288254,2.362877,-1.897003,46
1175115,331060680000000,0.311918,-5.307998,6.507066,2.281822,2.470123,-1.592957,46
1175116,331060690000000,0.635345,-6.233653,5.871137,2.243980,2.550949,-1.317612,46
1175117,331060700000000,0.552270,-7.377260,5.499313,2.154648,2.634674,-1.097664,46
1175118,331060710000000,0.163980,-7.892599,6.078267,2.040344,2.815781,-0.929276,46

In [10]:
label = LabelEncoder()
df_original['name'] = label.fit_transform(df_original['name'])
df_original

C:\Users\szizo\AppData\Local\Temp\ipykernel_18652\2860499691.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_original['name'] = label.fit_transform(df_original['name'])

,timestamp,LAx,LAy,LAz,GYx,GYy,GYz,name
0,924313410000000,1.242813,-0.160181,-0.900440,0.194931,-0.004242,0.163818,0
1,924313420000000,1.117246,-0.187921,-1.529893,0.236458,0.076378,0.133293,0
2,924313430000000,0.912846,-0.192566,-1.570929,0.226074,0.012253,0.108246,0
3,924313440000000,0.874858,-0.227208,-1.453511,0.139336,-0.050667,0.085030,0
4,924313450000000,0.834022,-0.282976,-1.292671,-0.013374,-0.109314,0.078308,0
...,...,...,...,...,...,...,...,...
1175114,331060670000000,-0.132586,-4.678891,6.665595,2.288254,2.362877,-1.897003,41
1175115,331060680000000,0.311918,-5.307998,6.507066,2.281822,2.470123,-1.592957,41
1175116,331060690000000,0.635345,-6.233653,5.871137,2.243980,2.550949,-1.317612,41
1175117,331060700000000,0.552270,-7.377260,5.499313,2.154648,2.634674,-1.097664,41
1175118,331060710000000,0.163980,-7.892599,6.078267,2.040344,2.815781,-0.929276,41

In [11]:
num_classes = df_original['name'].nunique()
num_classes

46

In [12]:
df_original.isnull().sum()

timestamp    0
LAx          0
LAy          0
LAz          0
GYx          0
GYy          0
GYz          0
name         0
dtype: int64

In [13]:
df_original.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3004914 entries, 0 to 1175118
Data columns (total 8 columns):
 #   Column     Dtype
---  ------     -----
 0   timestamp  int64
 1   LAx        float64
 2   LAy        float64
 3   LAz        float64
 4   GYx        float64
 5   GYy        float64
 6   GYz        float64
 7   name       int64
dtypes: float64(6), int64(2)
memory usage: 206.3 MB

In [14]:
df_original['name'].value_counts()

16    142666
2     119888
27    107965
1     107959
17    101947
5      95892
30     95765
31     89944
28     89620
25     89294
33     84521
18     83894
3      83875
26     76759
10     74718
14     71914
21     70967
42     65984
24     65900
32     63230
36     61178
6      60036
7      59986
37     59984
11     59984
35     59958
22     59929
12     59916
41     59889
34     59015
23     57340
8      57327
29     52339
0      50464
9      47946
19     47636
44     47614
38     44885
39     31414
15     29997
43     29990
45     29988
40     26022
4      25792
20     25598
13     17985
Name: name, dtype: int64

In [15]:
df_Xtime = df_original.copy()
df_Xtime = df_Xtime.drop(['timestamp'], axis = 1).copy()
df_Xtime.shape

(3004914, 7)

In [16]:
X = df_Xtime[['LAx', 'LAy', 'LAz','GYx', 'GYy', 'GYz']].copy()
y = df_Xtime['name'].copy()

In [17]:
scaler = StandardScaler()
X_transformed = X.copy()
X_transformed = scaler.fit_transform(X_transformed)

scaled_X = pd.DataFrame(data = X_transformed, columns = ['LAx', 'LAy', 'LAz','GYx', 'GYy', 'GYz'])
scaled_X['label'] = y.values

scaled_X

              LAx       LAy       LAz       GYx       GYy       GYz  label
0        0.370691 -0.069124 -0.246048  0.113415  0.026066  0.183819      0
1        0.333295 -0.075756 -0.422213  0.141929  0.082092  0.151644      0
2        0.272422 -0.076867 -0.433698  0.134799  0.037529  0.125243      0
3        0.261108 -0.085149 -0.400836  0.075241 -0.006197  0.100772      0
4        0.248947 -0.098483 -0.355822 -0.029616 -0.046954  0.093687      0
...           ...       ...       ...       ...       ...       ...    ...
3004909 -0.038925 -1.149500  1.871456  1.550783  1.671081 -1.988373     41
3004910  0.093455 -1.299913  1.827088  1.546366  1.745611 -1.667896     41
3004911  0.189777 -1.521227  1.649111  1.520383  1.801781 -1.377671     41
3004912  0.165036 -1.794651  1.545049  1.459043  1.859965 -1.145836     41
3004913  0.049397 -1.917864  1.707081  1.380557  1.985824 -0.968348     41

[3004914 rows x 7 columns]

In [18]:
import scipy.stats as stats

Fs = 100
frame_size = Fs*6
hop_size = int(Fs*1.5)

In [19]:
def get_frames(df, frame_size, hop_size):
    N_FEATURES = 6

    frames = []
    labels = []
    
    last_value = df['label'].iloc[-1]
    for j in range (1,last_value+1): 
        filtered_df = df[df['label'] == j]
        filtered_df = filtered_df.drop('label', axis = 1)
        for i in range(0, len(filtered_df) - frame_size, hop_size):
            LAx = filtered_df['LAx'].values[i: i + frame_size]
            LAy = filtered_df['LAy'].values[i: i + frame_size]
            LAz = filtered_df['LAz'].values[i: i + frame_size]
            GYx = filtered_df['GYx'].values[i: i + frame_size]
            GYy = filtered_df['GYy'].values[i: i + frame_size]
            GYz = filtered_df['GYz'].values[i: i + frame_size]
            

            label = j

            frames.append([LAx, LAy, LAz, GYx, GYy , GYz])
            labels.append(label)

    frames = np.asarray(frames).reshape(-1, frame_size, N_FEATURES)
    labels = np.asarray(labels)
    
    return frames, labels

In [20]:
X, y = get_frames(scaled_X,frame_size, hop_size)
X.shape, y.shape

((18395, 600, 6), (18395,))

In [21]:
X_train_val, X_test, y_train_val, y_test = train_test_split(X, y, test_size = 0.3, random_state = 0, stratify = y)

X_train, X_validation, y_train, y_validation = train_test_split(X_train_val, y_train_val, test_size = 0.1, random_state = 0, stratify = y_train_val)
X_train.shape, X_test.shape, X_validation.shape

((11588, 600, 6), (5519, 600, 6), (1288, 600, 6))

In [22]:
X_train[0].shape, X_test[0].shape, X_validation[0].shape

((600, 6), (600, 6), (600, 6))

In [23]:
num = df_original['name'].iloc[-1]
num

41

In [24]:
# # Subtract 1 from each label in y_train
# y_train = np.array(y_train) - 1
# y_test = np.array(y_test) - 1
# y_validation = np.array(y_validation) - 1

In [25]:
y_train.shape, y_test.shape, y_validation.shape

((11588,), (5519,), (1288,))

In [26]:
y_train_o = np.eye(50)[y_train]
y_test_o = np.eye(50)[y_test]
y_validation_o = np.eye(50)[y_validation]

In [27]:
y_train_o.shape, y_validation_o.shape, y_validation_o.shape

((11588, 50), (1288, 50), (1288, 50))

In [28]:
# tut
# model = Sequential()
# model.add(Conv1D(filters=64, kernel_size=3, activation='relu', input_shape=X_train[0].shape))
# model.add(Conv1D(filters=64, kernel_size=3, activation='relu'))
# model.add(Dropout(0.5))
# model.add(MaxPooling1D(pool_size=2))
# model.add(Flatten())
# model.add(Dense(100, activation='relu'))
# model.add(Dense(50, activation='softmax'))

In [29]:
# chatgpt
model = Sequential()
model.add(Conv1D(filters=32, kernel_size=3, activation='relu', input_shape=X_train[0].shape))
model.add(MaxPooling1D(pool_size=2))
model.add(Conv1D(filters=64, kernel_size=3, activation='relu'))
model.add(MaxPooling1D(pool_size=2))
model.add(Conv1D(filters=128, kernel_size=3, activation='relu'))
model.add(MaxPooling1D(pool_size=2))
model.add(Flatten())
model.add(Dense(256, activation='relu'))
model.add(Dropout(0.5))
model.add(Dense(num_classes, activation='softmax'))

In [30]:
model.summary(line_length = 75)

Model: "sequential"
___________________________________________________________________________
 Layer (type)                    Output Shape                  Param #
===========================================================================
 conv1d (Conv1D)                 (None, 598, 32)               608

 max_pooling1d (MaxPooling1D)    (None, 299, 32)               0

 conv1d_1 (Conv1D)               (None, 297, 64)               6208

 max_pooling1d_1 (MaxPooling1D)  (None, 148, 64)               0

 conv1d_2 (Conv1D)               (None, 146, 128)              24704

 max_pooling1d_2 (MaxPooling1D)  (None, 73, 128)               0

 flatten (Flatten)               (None, 9344)                  0

 dense (Dense)                   (None, 256)                   2392320

 dropout (Dropout)               (None, 256)                   0

 dense_1 (Dense)                 (None, 46)                    11822

===========================================================================
Total params: 2,435,662
Trainable params: 2,435,662
Non-trainable params: 0
___________________________________________________________________________

In [31]:
model.compile(optimizer=Adam(learning_rate = 0.001), loss=tf.keras.losses.SparseCategoricalCrossentropy(), metrics = ['accuracy'])

In [32]:
early_stopping = tf.keras.callbacks.EarlyStopping(
    monitor = 'val_loss',
    mode = 'auto',
    min_delta = 0,
    patience = 2,
    verbose = 0,
    restore_best_weights = True
)

In [33]:
history = model.fit(X_train, y_train, epochs = 30,callbacks = [early_stopping], 
                    validation_data= (X_validation, y_validation), verbose=1)

Epoch 1/30
363/363 [==============================] - 18s 47ms/step - loss: 1.7408 - accuracy: 0.5159 - val_loss: 0.1894 - val_accuracy: 0.9511
Epoch 2/30
363/363 [==============================] - 17s 47ms/step - loss: 0.4149 - accuracy: 0.8604 - val_loss: 0.0845 - val_accuracy: 0.9643
Epoch 3/30
363/363 [==============================] - 17s 46ms/step - loss: 0.2647 - accuracy: 0.9052 - val_loss: 0.0760 - val_accuracy: 0.9682
Epoch 4/30
363/363 [==============================] - 17s 47ms/step - loss: 0.2150 - accuracy: 0.9190 - val_loss: 0.0707 - val_accuracy: 0.9666
Epoch 5/30
363/363 [==============================] - 17s 47ms/step - loss: 0.1973 - accuracy: 0.9223 - val_loss: 0.0838 - val_accuracy: 0.9604
Epoch 6/30
363/363 [==============================] - 17s 47ms/step - loss: 0.1611 - accuracy: 0.9360 - val_loss: 0.0627 - val_accuracy: 0.9620
Epoch 7/30
363/363 [==============================] - 17s 48ms/step - loss: 0.1497 - accuracy: 0.9375 - val_loss: 0.0705 - val_accuracy: 0.9674
Epoch 8/30
363/363 [==============================] - 18s 49ms/step - loss: 0.1440 - accuracy: 0.9386 - val_loss: 0.0832 - val_accuracy: 0.9573

In [34]:
test_loss, test_accuracy = model.evaluate(X_test, y_test)
print('Test loss: {0: .4f}. Test accuracy: {1: .2f}%'.format(test_loss, test_accuracy*100))

173/173 [==============================] - 2s 10ms/step - loss: 0.0825 - accuracy: 0.9565
Test loss:  0.0825. Test accuracy:  95.65%

# Get W003 and test on it while training on W001 only

In [65]:
# filepath = "merged_u1-50_w001_resampled.csv"
filepath_3 = "D:/online dataset csv files preprocessing/merged_14u_w003_resampled.csv"

df_original_3 = pd.read_csv(filepath_3)
df_original_3

,timestamp,LAx,LAy,LAz,GYx,GYy,GYz,name
0,923709910000000,1.897600,-0.948629,0.806025,-0.913564,-0.310084,-0.732483,1
1,923709920000000,1.822922,-0.512797,0.658468,-0.688972,-0.554016,-0.731674,1
2,923709930000000,1.571234,0.178020,-0.381536,-0.285202,-0.868012,-0.680359,1
3,923709940000000,1.347669,0.698209,-1.856026,0.160721,-1.098297,-0.580788,1
4,923709950000000,1.484009,0.825438,-3.034368,0.557777,-1.373177,-0.456787,1
...,...,...,...,...,...,...,...,...
522631,341510670000000,-0.620103,-0.362797,-0.729507,-0.252296,-1.060326,0.087654,46
522632,341510680000000,-0.670146,-0.440084,-0.736829,-0.247093,-1.092079,0.098557,46
522633,341510690000000,-0.770983,-0.401897,-0.680590,-0.236572,-1.106628,0.115730,46
522634,341510700000000,-0.890548,-0.338852,-0.699221,-0.220085,-1.100670,0.133514,46
522635,341510710000000,-1.047220,-0.314173,-0.796266,-0.208298,-1.078903,0.147453,46

In [66]:
drop_values = [6, 31, 33, 42]

# Drop rows based on conditions in the "name" column
df_original_3 = df_original_3[~df_original_3['name'].isin(drop_values)]
df_original_3

,timestamp,LAx,LAy,LAz,GYx,GYy,GYz,name
0,923709910000000,1.897600,-0.948629,0.806025,-0.913564,-0.310084,-0.732483,1
1,923709920000000,1.822922,-0.512797,0.658468,-0.688972,-0.554016,-0.731674,1
2,923709930000000,1.571234,0.178020,-0.381536,-0.285202,-0.868012,-0.680359,1
3,923709940000000,1.347669,0.698209,-1.856026,0.160721,-1.098297,-0.580788,1
4,923709950000000,1.484009,0.825438,-3.034368,0.557777,-1.373177,-0.456787,1
...,...,...,...,...,...,...,...,...
522631,341510670000000,-0.620103,-0.362797,-0.729507,-0.252296,-1.060326,0.087654,46
522632,341510680000000,-0.670146,-0.440084,-0.736829,-0.247093,-1.092079,0.098557,46
522633,341510690000000,-0.770983,-0.401897,-0.680590,-0.236572,-1.106628,0.115730,46
522634,341510700000000,-0.890548,-0.338852,-0.699221,-0.220085,-1.100670,0.133514,46
522635,341510710000000,-1.047220,-0.314173,-0.796266,-0.208298,-1.078903,0.147453,46

In [89]:
labels_arr = label.classes_
len(labels_arr)

46

In [68]:
index

41

In [88]:
index = np.argmax(labels_arr == 44)
index

39

In [70]:
unique_users_3 = df_original_3['name'].unique()
for user in unique_users_3:
    index = np.argmax(labels_arr == user)
    df_original_3.loc[df_original_3['name'] == user, 'name'] = index
    
df_original_3

,timestamp,LAx,LAy,LAz,GYx,GYy,GYz,name
0,923709910000000,1.897600,-0.948629,0.806025,-0.913564,-0.310084,-0.732483,0
1,923709920000000,1.822922,-0.512797,0.658468,-0.688972,-0.554016,-0.731674,0
2,923709930000000,1.571234,0.178020,-0.381536,-0.285202,-0.868012,-0.680359,0
3,923709940000000,1.347669,0.698209,-1.856026,0.160721,-1.098297,-0.580788,0
4,923709950000000,1.484009,0.825438,-3.034368,0.557777,-1.373177,-0.456787,0
...,...,...,...,...,...,...,...,...
522631,341510670000000,-0.620103,-0.362797,-0.729507,-0.252296,-1.060326,0.087654,41
522632,341510680000000,-0.670146,-0.440084,-0.736829,-0.247093,-1.092079,0.098557,41
522633,341510690000000,-0.770983,-0.401897,-0.680590,-0.236572,-1.106628,0.115730,41
522634,341510700000000,-0.890548,-0.338852,-0.699221,-0.220085,-1.100670,0.133514,41
522635,341510710000000,-1.047220,-0.314173,-0.796266,-0.208298,-1.078903,0.147453,41

In [71]:
df_original_3.isnull().sum()

timestamp    0
LAx          0
LAy          0
LAz          0
GYx          0
GYy          0
GYz          0
name         0
dtype: int64

In [72]:
df_original_3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 485999 entries, 0 to 522635
Data columns (total 8 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   timestamp  485999 non-null  int64
 1   LAx        485999 non-null  float64
 2   LAy        485999 non-null  float64
 3   LAz        485999 non-null  float64
 4   GYx        485999 non-null  float64
 5   GYy        485999 non-null  float64
 6   GYz        485999 non-null  float64
 7   name       485999 non-null  int64
dtypes: float64(6), int64(2)
memory usage: 33.4 MB

In [73]:
df_original_3['name'].value_counts()

38    77605
1     47948
16    47922
21    44013
26    40959
19    36396
41    29990
32    29528
8     28251
23    27562
22    25926
0     25325
36    24574
Name: name, dtype: int64

In [74]:
df_Xtime_3 = df_original_3.copy()
df_Xtime_3 = df_Xtime_3.drop(['timestamp'], axis = 1).copy()
df_Xtime_3.shape

(485999, 7)

In [75]:
X_3 = df_Xtime_3[['LAx', 'LAy', 'LAz','GYx', 'GYy', 'GYz']].copy()
y_3 = df_Xtime_3['name'].copy()

In [76]:
scaler = StandardScaler()
X_transformed_3 = X_3.copy()
X_transformed_3 = scaler.fit_transform(X_transformed_3)

scaled_X_3 = pd.DataFrame(data = X_transformed_3, columns = ['LAx', 'LAy', 'LAz','GYx', 'GYy', 'GYz'])
scaled_X_3['label'] = y_3.values

scaled_X_3

             LAx       LAy       LAz       GYx       GYy       GYz  label
0       0.601191 -0.281826  0.137889 -0.543200 -0.201659 -0.619406      0
1       0.578082 -0.179059  0.097020 -0.407221 -0.364311 -0.618631      0
2       0.500200 -0.016168 -0.191029 -0.162760 -0.573681 -0.569511      0
3       0.431020  0.106489 -0.599417  0.107222 -0.727234 -0.474198      0
4       0.473209  0.136490 -0.925781  0.347618 -0.910521 -0.355502      0
...          ...       ...       ...       ...       ...       ...    ...
485994 -0.177890 -0.143690 -0.287406 -0.142838 -0.701914  0.165653     41
485995 -0.193376 -0.161914 -0.289434 -0.139687 -0.723087  0.176089     41
485996 -0.224579 -0.152910 -0.273858 -0.133318 -0.732789  0.192529     41
485997 -0.261577 -0.138044 -0.279018 -0.123335 -0.728816  0.209552     41
485998 -0.310058 -0.132225 -0.305896 -0.116199 -0.714302  0.222895     41

[485999 rows x 7 columns]

In [77]:
# import scipy.stats as stats

# Fs = 100
# frame_size = Fs*6 
# hop_size = Fs*6

In [78]:
X_3, y_3 = get_frames(scaled_X_3,frame_size, hop_size)
X_3.shape, y_3.shape

((3028, 600, 6), (3028,))

In [79]:
X_train_val_3, X_test_3, y_train_val_3, y_test_3 = train_test_split(X_3, y_3, test_size=0.3, random_state=0, stratify=y_3)

X_train_3, X_validation_3, y_train_3, y_validation_3 = train_test_split(X_train_val_3, y_train_val_3, test_size=0.1, random_state=0, stratify=y_train_val_3)
X_train_3.shape, X_test_3.shape, X_validation_3.shape

((1907, 600, 6), (909, 600, 6), (212, 600, 6))

In [80]:
X_train_3[0].shape, X_test_3[0].shape, X_validation_3[0].shape

((600, 6), (600, 6), (600, 6))

In [81]:
# # Subtract 1 from each label in y_train
# y_train_3 = np.array(y_train_3) - 1
# y_test_3 = np.array(y_test_3) - 1
# y_validation_3 = np.array(y_validation_3) - 1
# y_3 = np.array(y_3) -1

In [82]:
y_train_3.shape, y_test_3.shape, y_validation_3.shape

((1907,), (909,), (212,))

In [83]:
test_loss, test_accuracy = model.evaluate(X_test_3, y_test_3)
print('Test loss: {0: .4f}. Test accuracy: {1: .2f}%'.format(test_loss, test_accuracy*100))

29/29 [==============================] - 0s 10ms/step - loss: 7.6582 - accuracy: 0.5204
Test loss:  7.6582. Test accuracy:  52.04%

In [84]:
X_3.shape, y_3.shape

((3028, 600, 6), (3028,))

In [85]:
X_train_3.shape, y_train_3.shape

((1907, 600, 6), (1907,))

In [86]:
test_loss, test_accuracy = model.evaluate(X_train_3, y_train_3)
print('Test loss: {0: .4f}. Test accuracy: {1: .2f}%'.format(test_loss, test_accuracy*100))

60/60 [==============================] - 1s 10ms/step - loss: 7.6792 - accuracy: 0.5244
Test loss:  7.6792. Test accuracy:  52.44%

In [87]:
test_loss, test_accuracy = model.evaluate(X_3, y_3)
print('Test loss: {0: .4f}. Test accuracy: {1: .2f}%'.format(test_loss, test_accuracy*100))

95/95 [==============================] - 1s 10ms/step - loss: 7.6707 - accuracy: 0.5234
Test loss:  7.6707. Test accuracy:  52.34%