In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import svm
from sklearn.model_selection import train_test_split
import seaborn as sns # for plotting.
import os
import math

from sklearn.preprocessing import LabelEncoder

In [2]:
df = pd.DataFrame(columns=['name','mean_LA(x)', 'mean_LA(y)', 'mean_LA(z)', 'sd_LA(x)', 'sd_LA(y)', 'sd_LA(z)'])

In [3]:
directory = os.path.join(os.getcwd(), 'stairs\\training')
x=1
firstTime = True
for filename in os.listdir(directory):
    if (filename.endswith(".csv")):
        filepath = os.path.join(directory, filename)
        try:
            testOriginal = pd.read_csv(filepath)
            test=testOriginal.copy()
            
            test = test[['LA(x)','LA(y)','LA(z)']]
            
            num_rows_before = test.shape[0]

            fivePercent = num_rows_before * 0.20
            fivePercent = math.ceil(fivePercent)

            #test = test.iloc[fivePercent:]
            
            
            test = test.iloc[:-fivePercent]

            num_rows = test.shape[0]
            # Create a new row of data
            new_row = [filename[:-4],test['LA(x)'].mean(),test['LA(y)'].mean(),test['LA(z)'].mean(),test['LA(x)'].std(),test['LA(y)'].std(),test['LA(z)'].std()]

            # Add the new row to the DataFrame
            df.loc[len(df)] = new_row
        except Exception as e:
            print(f"Error occurred while reading file: {filename}")
            print(f"Error message: {str(e)}")
            continue

In [4]:
df

,name,mean_LA(x),mean_LA(y),mean_LA(z),sd_LA(x),sd_LA(y),sd_LA(z)
0,ahmedamin,0.144788,-0.377471,0.464804,2.640668,4.157759,3.107656
1,alibadawy,0.128859,-0.463654,0.412851,3.081139,2.997142,3.150151
2,dinaelgendy,0.034107,0.037947,0.364967,2.369922,5.076737,2.436780
3,ghazaly,0.056457,-0.542300,-0.373110,2.640989,4.142151,3.866938
4,habibatarabay,0.289920,-0.162950,-0.061525,1.633703,3.305095,1.901927
5,hashem,0.112678,-0.854486,0.324565,4.903765,5.361202,4.765900
6,heidi,0.388829,-0.289750,0.285754,3.335023,5.804150,2.725376
7,hussenhany,0.346090,-0.886796,-0.790666,4.485690,5.175227,5.456269
8,moataz,-0.013824,-0.742119,0.657354,3.682009,3.546438,4.104852
9,mohameddawoud,0.077478,0.151078,-0.143524,1.487001,3.127533,1.854058
10,mohamedelshoura,0.133007,-0.659408,0.380883,4.744822,3.719602,3.367904

In [5]:
directory = os.path.join(os.getcwd(), 'stairs\\testing')
x=1
firstTime = True
for filename in os.listdir(directory):
    if (filename.endswith(".csv")):
        filepath = os.path.join(directory, filename)
        try:
            testOriginal = pd.read_csv(filepath)
            test=testOriginal.copy()
            
            test = test[['LA(x)','LA(y)','LA(z)']]

            num_rows_before = test.shape[0]

            fivePercent = num_rows_before * 0.2
            fivePercent = math.ceil(fivePercent)

            #test = test.iloc[fivePercent:]
            #test = test.iloc[:-fivePercent]


            num_rows = test.shape[0]
            start_row = 0
            end_row = num_rows/2
            end_row = math.ceil(end_row)
            print(end_row)   
            # Create a new row of data
            new_row = [filename[:-4],test['LA(x)'][start_row:end_row].mean(),test['LA(y)'][start_row:end_row].mean(),test['LA(z)'][start_row:end_row].mean(),test['LA(x)'][start_row:end_row].std(),test['LA(y)'][start_row:end_row].std(),test['LA(z)'][start_row:end_row].std()]

            # Add the new row to the DataFrame
            df.loc[len(df)] = new_row
        except Exception as e:
            print(f"Error occurred while reading file: {filename}")
            print(f"Error message: {str(e)}")
            continue

9646
7683
8408
7937
7844
9135

In [6]:
df

,name,mean_LA(x),mean_LA(y),mean_LA(z),sd_LA(x),sd_LA(y),sd_LA(z)
0,ahmedamin,0.144788,-0.377471,0.464804,2.640668,4.157759,3.107656
1,alibadawy,0.128859,-0.463654,0.412851,3.081139,2.997142,3.150151
2,dinaelgendy,0.034107,0.037947,0.364967,2.369922,5.076737,2.436780
3,ghazaly,0.056457,-0.542300,-0.373110,2.640989,4.142151,3.866938
4,habibatarabay,0.289920,-0.162950,-0.061525,1.633703,3.305095,1.901927
5,hashem,0.112678,-0.854486,0.324565,4.903765,5.361202,4.765900
6,heidi,0.388829,-0.289750,0.285754,3.335023,5.804150,2.725376
7,hussenhany,0.346090,-0.886796,-0.790666,4.485690,5.175227,5.456269
8,moataz,-0.013824,-0.742119,0.657354,3.682009,3.546438,4.104852
9,mohameddawoud,0.077478,0.151078,-0.143524,1.487001,3.127533,1.854058
10,mohamedelshoura,0.133007,-0.659408,0.380883,4.744822,3.719602,3.367904
11,nourhan,0.064457,-0.023400,0.296157,1.372078,2.321932,1.292289
12,tokhye,0.382522,-0.570196,0.614066,4.509614,4.419192,5.082644
13,yaseen,0.443545,-0.691809,0.676733,3.474442,4.024979,4.671159
14,youssef,0.135281,-0.577080,-0.496914,3.908257,4.262535,7.154133
15,youssefemad,0.136494,-0.413244,-0.376618,2.551615,4.655520,5.185730
16,yusuf,0.212120,0.348983,0.711509,2.497458,4.623743,4.207350

In [7]:
label_column = 'name'
label_encoder = LabelEncoder()
df[label_column] = label_encoder.fit_transform(df[label_column])

In [8]:
df

    name  mean_LA(x)  mean_LA(y)  mean_LA(z)  sd_LA(x)  sd_LA(y)  sd_LA(z)
0      0    0.144788   -0.377471    0.464804  2.640668  4.157759  3.107656
1      1    0.128859   -0.463654    0.412851  3.081139  2.997142  3.150151
2      2    0.034107    0.037947    0.364967  2.369922  5.076737  2.436780
3      3    0.056457   -0.542300   -0.373110  2.640989  4.142151  3.866938
4      4    0.289920   -0.162950   -0.061525  1.633703  3.305095  1.901927
5      5    0.112678   -0.854486    0.324565  4.903765  5.361202  4.765900
6      6    0.388829   -0.289750    0.285754  3.335023  5.804150  2.725376
7      7    0.346090   -0.886796   -0.790666  4.485690  5.175227  5.456269
8      8   -0.013824   -0.742119    0.657354  3.682009  3.546438  4.104852
9      9    0.077478    0.151078   -0.143524  1.487001  3.127533  1.854058
10    10    0.133007   -0.659408    0.380883  4.744822  3.719602  3.367904
11    11    0.064457   -0.023400    0.296157  1.372078  2.321932  1.292289
12    12    0.382522   -0.570196    0.614066  4.509614  4.419192  5.082644
13    13    0.443545   -0.691809    0.676733  3.474442  4.024979  4.671159
14    14    0.135281   -0.577080   -0.496914  3.908257  4.262535  7.154133
15    15    0.136494   -0.413244   -0.376618  2.551615  4.655520  5.185730
16    16    0.212120    0.348983    0.711509  2.497458  4.623743  4.207350

In [9]:
df_testingHalf = pd.DataFrame(columns=['name','mean_LA(x)', 'mean_LA(y)', 'mean_LA(z)', 'sd_LA(x)', 'sd_LA(y)', 'sd_LA(z)'])
directory = os.path.join(os.getcwd(), 'stairs\\testing')
x=1
firstTime = True
for filename in os.listdir(directory):
    if (filename.endswith(".csv")):
        filepath = os.path.join(directory, filename)
        testOriginal = pd.read_csv(filepath)
        test=testOriginal.copy()
                              
        test = test[['LA(x)','LA(y)','LA(z)']]                          
                              
                              
        
#         num_rows = test.shape[0]
#         start_row = 0
#         end_row = num_rows/2
#         end_row = math.ceil(end_row)
        num_rows_before = test.shape[0]
    
        fivePercent = num_rows_before * 0.20
        fivePercent = math.ceil(fivePercent)
        
        #test = test.iloc[fivePercent:]
        
        
        test = test.iloc[:-fivePercent]
        
        num_rows = test.shape[0]
        
    
        end_row_init = num_rows/2
        end_row_init = math.ceil(end_row_init)
        
        start_row = end_row_init
        end_row=num_rows+1
        
        
        print(fivePercent)   
        # Create a new row of data
        new_row = [filename[:-4],test['LA(x)'][start_row:end_row].mean(),test['LA(y)'][start_row:end_row].mean(),test['LA(z)'][start_row:end_row].mean(),test['LA(x)'][start_row:end_row].std(),test['LA(y)'][start_row:end_row].std(),test['LA(z)'][start_row:end_row].std()]

        # Add the new row to the DataFrame
        df_testingHalf.loc[len(df_testingHalf)] = new_row

3859
3074
3363
3175
3138
3654

In [10]:
df_testingHalf

,name,mean_LA(x),mean_LA(y),mean_LA(z),sd_LA(x),sd_LA(y),sd_LA(z)
0,nourhan,0.158827,-0.007164,0.249851,1.460902,2.223528,1.284463
1,tokhye,0.777677,-0.726352,0.589847,5.797640,6.632377,6.591896
2,yaseen,0.420068,-0.729746,0.659450,3.854589,4.076937,4.431242
3,youssef,0.193805,-0.678005,-0.478531,4.123934,4.634504,7.400129
4,youssefemad,0.190819,-0.437344,-0.378117,3.143330,5.853462,5.462885
5,yusuf,0.154599,0.395881,0.730906,2.530211,4.806776,4.371492

In [11]:
# label_column = 'name'
# label_encoder = LabelEncoder()
# df[label_column] = label_encoder.fit_transform(df[label_column])

In [12]:
df

    name  mean_LA(x)  mean_LA(y)  mean_LA(z)  sd_LA(x)  sd_LA(y)  sd_LA(z)
0      0    0.144788   -0.377471    0.464804  2.640668  4.157759  3.107656
1      1    0.128859   -0.463654    0.412851  3.081139  2.997142  3.150151
2      2    0.034107    0.037947    0.364967  2.369922  5.076737  2.436780
3      3    0.056457   -0.542300   -0.373110  2.640989  4.142151  3.866938
4      4    0.289920   -0.162950   -0.061525  1.633703  3.305095  1.901927
5      5    0.112678   -0.854486    0.324565  4.903765  5.361202  4.765900
6      6    0.388829   -0.289750    0.285754  3.335023  5.804150  2.725376
7      7    0.346090   -0.886796   -0.790666  4.485690  5.175227  5.456269
8      8   -0.013824   -0.742119    0.657354  3.682009  3.546438  4.104852
9      9    0.077478    0.151078   -0.143524  1.487001  3.127533  1.854058
10    10    0.133007   -0.659408    0.380883  4.744822  3.719602  3.367904
11    11    0.064457   -0.023400    0.296157  1.372078  2.321932  1.292289
12    12    0.382522   -0.570196    0.614066  4.509614  4.419192  5.082644
13    13    0.443545   -0.691809    0.676733  3.474442  4.024979  4.671159
14    14    0.135281   -0.577080   -0.496914  3.908257  4.262535  7.154133
15    15    0.136494   -0.413244   -0.376618  2.551615  4.655520  5.185730
16    16    0.212120    0.348983    0.711509  2.497458  4.623743  4.207350

In [13]:
df_testingHalf

,name,mean_LA(x),mean_LA(y),mean_LA(z),sd_LA(x),sd_LA(y),sd_LA(z)
0,nourhan,0.158827,-0.007164,0.249851,1.460902,2.223528,1.284463
1,tokhye,0.777677,-0.726352,0.589847,5.797640,6.632377,6.591896
2,yaseen,0.420068,-0.729746,0.659450,3.854589,4.076937,4.431242
3,youssef,0.193805,-0.678005,-0.478531,4.123934,4.634504,7.400129
4,youssefemad,0.190819,-0.437344,-0.378117,3.143330,5.853462,5.462885
5,yusuf,0.154599,0.395881,0.730906,2.530211,4.806776,4.371492

In [14]:
encodedNames = df['name'].tail(len(df_testingHalf)).values
print(encodedNames)

[11 12 13 14 15 16]

In [15]:
df_testingHalf['name'] = encodedNames
df_testingHalf

   name  mean_LA(x)  mean_LA(y)  mean_LA(z)  sd_LA(x)  sd_LA(y)  sd_LA(z)
0    11    0.158827   -0.007164    0.249851  1.460902  2.223528  1.284463
1    12    0.777677   -0.726352    0.589847  5.797640  6.632377  6.591896
2    13    0.420068   -0.729746    0.659450  3.854589  4.076937  4.431242
3    14    0.193805   -0.678005   -0.478531  4.123934  4.634504  7.400129
4    15    0.190819   -0.437344   -0.378117  3.143330  5.853462  5.462885
5    16    0.154599    0.395881    0.730906  2.530211  4.806776  4.371492

In [16]:
y_training_labels = df.pop('name')
y_training_labels

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
Name: name, dtype: int32

In [17]:
X_training_dataset = df.copy()

In [18]:
X_testing_dataset = df_testingHalf.copy()

In [19]:
y_testing_labels = X_testing_dataset.pop('name')

In [20]:
X_training_dataset.shape

(17, 6)

In [21]:
y_training_labels.shape

(17,)

In [22]:
X_testing_dataset.shape

(6, 6)

In [23]:
y_testing_labels.shape

(6,)

In [24]:
classifier = svm.SVC(kernel='linear', gamma='auto', C=2)

classifier.fit(X_training_dataset,y_training_labels)

y_testing_predict = classifier.predict(X_testing_dataset)

In [25]:
from sklearn.metrics import classification_report
print(classification_report(y_testing_labels,y_testing_predict))

              precision    recall  f1-score   support

           5       0.00      0.00      0.00         0
          11       1.00      1.00      1.00         1
          12       0.00      0.00      0.00         1
          13       1.00      1.00      1.00         1
          14       1.00      1.00      1.00         1
          15       1.00      1.00      1.00         1
          16       1.00      1.00      1.00         1

    accuracy                           0.83         6
   macro avg       0.71      0.71      0.71         6
weighted avg       0.83      0.83      0.83         6

C:\Users\szizo\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\szizo\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1344: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\szizo\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\szizo\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1344: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\szizo\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\szizo\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1344: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [26]:
#Create a svm Classifier
model = svm.SVC(C = 2, # reg paramater
                kernel='linear', #kernel{‘linear’, ‘poly’, ‘rbf’, ‘sigmoid’, ‘precomputed’}, default=’rbf’
               ) # Linear Kernel

#Train the model using the training sets
model.fit(X_training_dataset, y_training_labels)

#Predict the response for test dataset
y_pred = model.predict(X_testing_dataset)

from sklearn import metrics
y_pred = model.predict(X_testing_dataset)
print("Accuracy:",metrics.accuracy_score(y_testing_labels, y_pred))

Accuracy: 0.8333333333333334

In [27]:
from sklearn import metrics
y_pred = model.predict(X_training_dataset)
print("Accuracy:",metrics.accuracy_score(y_training_labels, y_pred))

Accuracy: 1.0

In [28]:
from sklearn import metrics
y_pred = model.predict(X_testing_dataset)
print("Accuracy:",metrics.accuracy_score(y_testing_labels, y_pred))

Accuracy: 0.8333333333333334