In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import svm
from sklearn.model_selection import train_test_split
import seaborn as sns # for plotting.
import os
import math

from sklearn.preprocessing import LabelEncoder

In [2]:
df = pd.DataFrame(columns=['name','mean_LA(x)', 'mean_LA(y)', 'mean_LA(z)', 'sd_LA(x)', 'sd_LA(y)', 'sd_LA(z)'])

In [3]:
directory = os.path.join(os.getcwd(), 'hand\\training')
x=1
firstTime = True
for filename in os.listdir(directory):
    if (filename.endswith(".csv")):
        filepath = os.path.join(directory, filename)
        try:
            testOriginal = pd.read_csv(filepath)
            test=testOriginal.copy()
            
            test = test[['LA(x)','LA(y)','LA(z)']]
            num_rows_before = test.shape[0]

            fivePercent = num_rows_before * 0.2
            fivePercent = math.ceil(fivePercent)

            #test = test.iloc[fivePercent:]
            
            
            test = test.iloc[:-fivePercent]

            num_rows = test.shape[0]
            # Create a new row of data
            new_row = [filename[:-4],test['LA(x)'].mean(),test['LA(y)'].mean(),test['LA(z)'].mean(),test['LA(x)'].std(),test['LA(y)'].std(),test['LA(z)'].std()]

            # Add the new row to the DataFrame
            df.loc[len(df)] = new_row
        except Exception as e:
            print(f"Error occurred while reading file: {filename}")
            print(f"Error message: {str(e)}")
            continue

In [4]:
df

,name,mean_LA(x),mean_LA(y),mean_LA(z),sd_LA(x),sd_LA(y),sd_LA(z)
0,ahmedamir,0.900060,-0.965049,0.714376,3.824209,2.992793,2.644413
1,ghazaly,0.026040,-0.404830,0.129242,0.841483,1.140295,1.569531
2,habibatarabay,0.392152,-0.462110,0.553301,2.439593,2.094473,1.671452
3,hashem,0.002777,-0.261593,0.043542,1.610852,1.505165,0.867599
4,heidi,-0.730693,-0.757379,0.506630,1.822200,2.397183,2.496371
5,hussenhany,-0.006258,-0.526168,0.327254,1.275037,1.564392,2.906907
6,ismail,0.092198,-0.434006,0.262996,1.059901,1.047598,1.543881
7,judy,0.330886,-0.183648,0.263214,1.089285,0.966052,1.721033
8,mira,0.712194,-1.816702,0.990533,4.284499,3.310251,2.383009
9,mohamed,0.269306,-0.448650,0.164584,1.060842,1.026368,1.688733
10,mohameddawoud,0.168411,-0.370416,0.168652,0.803503,0.913108,1.242390
11,mohamedelshoura,-0.673774,-0.951370,-0.417185,2.549466,3.178923,1.639955
12,moustafa,0.053496,-0.261486,0.151948,0.742779,0.821428,1.228647

In [5]:
directory = os.path.join(os.getcwd(), 'hand\\testing')
x=1
firstTime = True
for filename in os.listdir(directory):
    if (filename.endswith(".csv")):
        filepath = os.path.join(directory, filename)
        try:
            testOriginal = pd.read_csv(filepath)
            test=testOriginal.copy()
            test = test[['LA(x)','LA(y)','LA(z)']]

            num_rows_before = test.shape[0]

            fivePercent = num_rows_before * 0.2
            fivePercent = math.ceil(fivePercent)

            #test = test.iloc[fivePercent:]
            #test = test.iloc[:-fivePercent]


            num_rows = test.shape[0]
            start_row = 0
            end_row = num_rows/2
            end_row = math.ceil(end_row)
            print(end_row)   
            # Create a new row of data
            new_row = [filename[:-4],test['LA(x)'][start_row:end_row].mean(),test['LA(y)'][start_row:end_row].mean(),test['LA(z)'][start_row:end_row].mean(),test['LA(x)'][start_row:end_row].std(),test['LA(y)'][start_row:end_row].std(),test['LA(z)'][start_row:end_row].std()]

            # Add the new row to the DataFrame
            df.loc[len(df)] = new_row
        except Exception as e:
            print(f"Error occurred while reading file: {filename}")
            print(f"Error message: {str(e)}")
            continue

7518
7254
7102
6647
5732
6017
7349

In [6]:
df

,name,mean_LA(x),mean_LA(y),mean_LA(z),sd_LA(x),sd_LA(y),sd_LA(z)
0,ahmedamir,0.900060,-0.965049,0.714376,3.824209,2.992793,2.644413
1,ghazaly,0.026040,-0.404830,0.129242,0.841483,1.140295,1.569531
2,habibatarabay,0.392152,-0.462110,0.553301,2.439593,2.094473,1.671452
3,hashem,0.002777,-0.261593,0.043542,1.610852,1.505165,0.867599
4,heidi,-0.730693,-0.757379,0.506630,1.822200,2.397183,2.496371
5,hussenhany,-0.006258,-0.526168,0.327254,1.275037,1.564392,2.906907
6,ismail,0.092198,-0.434006,0.262996,1.059901,1.047598,1.543881
7,judy,0.330886,-0.183648,0.263214,1.089285,0.966052,1.721033
8,mira,0.712194,-1.816702,0.990533,4.284499,3.310251,2.383009
9,mohamed,0.269306,-0.448650,0.164584,1.060842,1.026368,1.688733
10,mohameddawoud,0.168411,-0.370416,0.168652,0.803503,0.913108,1.242390
11,mohamedelshoura,-0.673774,-0.951370,-0.417185,2.549466,3.178923,1.639955
12,moustafa,0.053496,-0.261486,0.151948,0.742779,0.821428,1.228647
13,ola,0.108910,-0.407179,0.662535,1.683670,2.272056,1.581942
14,rolla,0.216866,-0.528242,-0.049357,1.217630,1.487113,1.943382
15,salwa,0.211745,-0.727425,-0.076628,1.756172,1.651001,2.957945
16,seifana,-0.150600,-0.546184,0.296190,1.288246,1.284170,2.314333
17,tokhye,-0.039692,-0.316662,0.065548,1.413875,1.223536,2.908938
18,youssef,0.237372,-0.918822,1.106458,3.270762,3.094006,1.887799
19,yusuf,-0.062385,-0.446527,0.204720,0.772383,0.671823,1.171294

In [7]:
label_column = 'name'
label_encoder = LabelEncoder()
df[label_column] = label_encoder.fit_transform(df[label_column])

In [8]:
df

    name  mean_LA(x)  mean_LA(y)  mean_LA(z)  sd_LA(x)  sd_LA(y)  sd_LA(z)
0      0    0.900060   -0.965049    0.714376  3.824209  2.992793  2.644413
1      1    0.026040   -0.404830    0.129242  0.841483  1.140295  1.569531
2      2    0.392152   -0.462110    0.553301  2.439593  2.094473  1.671452
3      3    0.002777   -0.261593    0.043542  1.610852  1.505165  0.867599
4      4   -0.730693   -0.757379    0.506630  1.822200  2.397183  2.496371
5      5   -0.006258   -0.526168    0.327254  1.275037  1.564392  2.906907
6      6    0.092198   -0.434006    0.262996  1.059901  1.047598  1.543881
7      7    0.330886   -0.183648    0.263214  1.089285  0.966052  1.721033
8      8    0.712194   -1.816702    0.990533  4.284499  3.310251  2.383009
9      9    0.269306   -0.448650    0.164584  1.060842  1.026368  1.688733
10    10    0.168411   -0.370416    0.168652  0.803503  0.913108  1.242390
11    11   -0.673774   -0.951370   -0.417185  2.549466  3.178923  1.639955
12    12    0.053496   -0.261486    0.151948  0.742779  0.821428  1.228647
13    13    0.108910   -0.407179    0.662535  1.683670  2.272056  1.581942
14    14    0.216866   -0.528242   -0.049357  1.217630  1.487113  1.943382
15    15    0.211745   -0.727425   -0.076628  1.756172  1.651001  2.957945
16    16   -0.150600   -0.546184    0.296190  1.288246  1.284170  2.314333
17    17   -0.039692   -0.316662    0.065548  1.413875  1.223536  2.908938
18    18    0.237372   -0.918822    1.106458  3.270762  3.094006  1.887799
19    19   -0.062385   -0.446527    0.204720  0.772383  0.671823  1.171294

In [9]:
df_testingHalf = pd.DataFrame(columns=['name','mean_LA(x)', 'mean_LA(y)', 'mean_LA(z)', 'sd_LA(x)', 'sd_LA(y)', 'sd_LA(z)'])
directory = os.path.join(os.getcwd(), 'hand\\testing')
x=1
firstTime = True
for filename in os.listdir(directory):
    if (filename.endswith(".csv")):
        filepath = os.path.join(directory, filename)
        testOriginal = pd.read_csv(filepath)
        test=testOriginal.copy()
        
        test = test[['LA(x)','LA(y)','LA(z)']]
        
#         num_rows = test.shape[0]
#         start_row = 0
#         end_row = num_rows/2
#         end_row = math.ceil(end_row)
        num_rows_before = test.shape[0]
    
        fivePercent = num_rows_before * 0.2
        fivePercent = math.ceil(fivePercent)
        
        #test = test.iloc[fivePercent:]
        
        
        test = test.iloc[:-fivePercent]
        
        num_rows = test.shape[0]
        
    
        end_row_init = num_rows/2
        end_row_init = math.ceil(end_row_init)
        
        start_row = end_row_init
        end_row=num_rows+1
        
        
        print(fivePercent)   
        # Create a new row of data
        new_row = [filename[:-4],test['LA(x)'][start_row:end_row].mean(),test['LA(y)'][start_row:end_row].mean(),test['LA(z)'][start_row:end_row].mean(),test['LA(x)'][start_row:end_row].std(),test['LA(y)'][start_row:end_row].std(),test['LA(z)'][start_row:end_row].std()]

        # Add the new row to the DataFrame
        df_testingHalf.loc[len(df_testingHalf)] = new_row

3007
2902
2841
2659
2293
2407
2940

In [10]:
df_testingHalf

      name  mean_LA(x)  mean_LA(y)  mean_LA(z)  sd_LA(x)  sd_LA(y)  sd_LA(z)
0      ola    0.101133   -0.568853    0.981838  1.906360  2.689038  1.803614
1    rolla    0.234197   -0.614597   -0.092466  1.368909  1.486740  2.076941
2    salwa    0.144099   -1.020724   -0.145791  2.110948  1.680840  2.731512
3  seifana   -0.175207   -0.686154    0.390034  1.493724  1.509737  2.546726
4   tokhye    0.191962   -0.633900    0.089395  2.061490  1.424009  3.104882
5  youssef    0.012217   -0.723384    1.113586  2.461315  2.412584  2.473354
6    yusuf   -0.128729   -0.418147    0.263753  0.804180  0.708331  1.200859

In [11]:
# label_column = 'name'
# label_encoder = LabelEncoder()
# df[label_column] = label_encoder.fit_transform(df[label_column])

In [12]:
df

    name  mean_LA(x)  mean_LA(y)  mean_LA(z)  sd_LA(x)  sd_LA(y)  sd_LA(z)
0      0    0.900060   -0.965049    0.714376  3.824209  2.992793  2.644413
1      1    0.026040   -0.404830    0.129242  0.841483  1.140295  1.569531
2      2    0.392152   -0.462110    0.553301  2.439593  2.094473  1.671452
3      3    0.002777   -0.261593    0.043542  1.610852  1.505165  0.867599
4      4   -0.730693   -0.757379    0.506630  1.822200  2.397183  2.496371
5      5   -0.006258   -0.526168    0.327254  1.275037  1.564392  2.906907
6      6    0.092198   -0.434006    0.262996  1.059901  1.047598  1.543881
7      7    0.330886   -0.183648    0.263214  1.089285  0.966052  1.721033
8      8    0.712194   -1.816702    0.990533  4.284499  3.310251  2.383009
9      9    0.269306   -0.448650    0.164584  1.060842  1.026368  1.688733
10    10    0.168411   -0.370416    0.168652  0.803503  0.913108  1.242390
11    11   -0.673774   -0.951370   -0.417185  2.549466  3.178923  1.639955
12    12    0.053496   -0.261486    0.151948  0.742779  0.821428  1.228647
13    13    0.108910   -0.407179    0.662535  1.683670  2.272056  1.581942
14    14    0.216866   -0.528242   -0.049357  1.217630  1.487113  1.943382
15    15    0.211745   -0.727425   -0.076628  1.756172  1.651001  2.957945
16    16   -0.150600   -0.546184    0.296190  1.288246  1.284170  2.314333
17    17   -0.039692   -0.316662    0.065548  1.413875  1.223536  2.908938
18    18    0.237372   -0.918822    1.106458  3.270762  3.094006  1.887799
19    19   -0.062385   -0.446527    0.204720  0.772383  0.671823  1.171294

In [13]:
df_testingHalf

      name  mean_LA(x)  mean_LA(y)  mean_LA(z)  sd_LA(x)  sd_LA(y)  sd_LA(z)
0      ola    0.101133   -0.568853    0.981838  1.906360  2.689038  1.803614
1    rolla    0.234197   -0.614597   -0.092466  1.368909  1.486740  2.076941
2    salwa    0.144099   -1.020724   -0.145791  2.110948  1.680840  2.731512
3  seifana   -0.175207   -0.686154    0.390034  1.493724  1.509737  2.546726
4   tokhye    0.191962   -0.633900    0.089395  2.061490  1.424009  3.104882
5  youssef    0.012217   -0.723384    1.113586  2.461315  2.412584  2.473354
6    yusuf   -0.128729   -0.418147    0.263753  0.804180  0.708331  1.200859

In [14]:
encodedNames = df['name'].tail(len(df_testingHalf)).values
print(encodedNames)

[13 14 15 16 17 18 19]

In [15]:
df_testingHalf['name'] = encodedNames
df_testingHalf

   name  mean_LA(x)  mean_LA(y)  mean_LA(z)  sd_LA(x)  sd_LA(y)  sd_LA(z)
0    13    0.101133   -0.568853    0.981838  1.906360  2.689038  1.803614
1    14    0.234197   -0.614597   -0.092466  1.368909  1.486740  2.076941
2    15    0.144099   -1.020724   -0.145791  2.110948  1.680840  2.731512
3    16   -0.175207   -0.686154    0.390034  1.493724  1.509737  2.546726
4    17    0.191962   -0.633900    0.089395  2.061490  1.424009  3.104882
5    18    0.012217   -0.723384    1.113586  2.461315  2.412584  2.473354
6    19   -0.128729   -0.418147    0.263753  0.804180  0.708331  1.200859

In [16]:
y_training_labels = df.pop('name')
y_training_labels

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
Name: name, dtype: int32

In [17]:
X_training_dataset = df.copy()

In [18]:
X_testing_dataset = df_testingHalf.copy()

In [19]:
y_testing_labels = X_testing_dataset.pop('name')

In [20]:
X_training_dataset.shape

(20, 6)

In [21]:
y_training_labels.shape

(20,)

In [22]:
X_testing_dataset.shape

(7, 6)

In [23]:
y_testing_labels.shape

(7,)

In [24]:
classifier = svm.SVC(kernel='linear', gamma='auto', C=2)

classifier.fit(X_training_dataset,y_training_labels)

y_testing_predict = classifier.predict(X_testing_dataset)

In [25]:
from sklearn.metrics import classification_report
print(classification_report(y_testing_labels,y_testing_predict))

              precision    recall  f1-score   support

           2       0.00      0.00      0.00         0
          13       1.00      1.00      1.00         1
          14       1.00      1.00      1.00         1
          15       0.50      1.00      0.67         1
          16       1.00      1.00      1.00         1
          17       0.00      0.00      0.00         1
          18       0.00      0.00      0.00         1
          19       1.00      1.00      1.00         1

    accuracy                           0.71         7
   macro avg       0.56      0.62      0.58         7
weighted avg       0.64      0.71      0.67         7

C:\Users\szizo\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\szizo\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1344: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\szizo\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\szizo\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1344: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\szizo\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\szizo\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1344: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [26]:
#Create a svm Classifier
model = svm.SVC(C = 2, # reg paramater
                kernel='linear', #kernel{‘linear’, ‘poly’, ‘rbf’, ‘sigmoid’, ‘precomputed’}, default=’rbf’
               ) # Linear Kernel

#Train the model using the training sets
model.fit(X_training_dataset, y_training_labels)

#Predict the response for test dataset
y_pred = model.predict(X_testing_dataset)

from sklearn import metrics
y_pred = model.predict(X_testing_dataset)
print("Accuracy:",metrics.accuracy_score(y_testing_labels, y_pred))

Accuracy: 0.7142857142857143

In [27]:
from sklearn import metrics
y_pred = model.predict(X_training_dataset)
print("Accuracy:",metrics.accuracy_score(y_training_labels, y_pred))

Accuracy: 1.0

In [28]:
from sklearn import metrics
y_pred = model.predict(X_testing_dataset)
print("Accuracy:",metrics.accuracy_score(y_testing_labels, y_pred))

Accuracy: 0.7142857142857143