In [1]:
import tensorflow as tf
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Flatten, Dense, Dropout, BatchNormalization
from tensorflow.keras.layers import Conv1D, MaxPooling1D
from tensorflow.keras.optimizers import Adam
print(tf.__version__)

2.12.0

In [2]:
import pandas as pd
import numpy as np
import os
import math
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder

In [3]:
def preprocess(df, name):
    df_gyro = pd.DataFrame(columns=['time','GY(x)', 'GY(y)', 'GY(z)'])
    df_acc = pd.DataFrame(columns=['time','LA(x)', 'LA(y)', 'LA(z)'])
    
    df_gyro[['time','GY(x)', 'GY(y)', 'GY(z)']] = df[['TimeStamp','GY(x)', 'GY(y)', 'GY(z)']].copy()
#     df_gyro['name'] = df_gyro['name'].fillna(name)
    df_gyro = df_gyro.dropna()
    df_acc[['time','LA(x)', 'LA(y)', 'LA(z)']] = df[['TimeStamp','LA(x)', 'LA(y)', 'LA(z)']].copy()
#     df_acc['name'] = df_acc['name'].fillna(name)
    df_acc = df_acc.dropna()
    
    df_gyro['time'] = pd.to_datetime(df_gyro['time'], unit='ms')
    df_indexed_gyro = df_gyro.set_index('time')
    resampled_df_gyro = df_indexed_gyro.resample('5ms').mean().interpolate()
    resampled_df_gyro['name'] = name
    resampled_df_gyro.reset_index(inplace=True)
    
    df_acc['time'] = pd.to_datetime(df_acc['time'], unit='ms')
    df_indexed_acc = df_acc.set_index('time')
    resampled_df_acc = df_indexed_acc.resample('5ms').mean().interpolate()
#     resampled_df_acc['name'] = name
    resampled_df_acc.reset_index(inplace=True)
    
    # Inner join: Only the common values in both DataFrames are included in the merged DataFrame (inner_merged_df).
    
    inner_merged_df = pd.merge(resampled_df_acc, resampled_df_gyro, on='time', how='inner')
    
    return inner_merged_df

In [4]:
df_final_sw = pd.DataFrame(columns=['name','time','LA(x)', 'LA(y)', 'LA(z)','GY(x)', 'GY(y)', 'GY(z)'])
# directory = os.path.join(os.getcwd(), 'straightWalk')
directory = "D:/My_Dataset_Renamed/straightWalk"
x=1
firstTime = True
for filename in os.listdir(directory):
    if (filename.endswith(".csv")):
        filepath = os.path.join(directory, filename)
        df_original = pd.read_csv(filepath)
        
#         num_rows_before = df_original.shape[0]
    
#         twenty = num_rows_before * 0.20
#         twenty = math.ceil(twenty)
        
#         #test = test.iloc[fivePercent:]
#         df_original_remove20 = df_original.iloc[:-twenty]
        
         
       
        df_processed = preprocess(df_original, filename[:-4])

        df_final_sw = pd.concat([df_final_sw, df_processed])
        
df_final_sw['name'] = df_final_sw['name'].astype(str) + "_sw"
df_final_sw

,name,time,LA(x),LA(y),LA(z),GY(x),GY(y),GY(z)
0,alibadawy_sw,1970-01-01 00:00:00.000,-0.268265,-0.005538,-0.071094,-0.016798,0.103233,0.033138
1,alibadawy_sw,1970-01-01 00:00:00.005,-0.163861,-0.004340,0.122527,-0.017613,0.110563,0.034157
2,alibadawy_sw,1970-01-01 00:00:00.010,-0.018824,-0.011455,0.059537,-0.018936,0.123697,0.031000
3,alibadawy_sw,1970-01-01 00:00:00.015,0.043948,-0.010231,0.135187,-0.019445,0.136423,0.030288
4,alibadawy_sw,1970-01-01 00:00:00.020,0.106720,-0.009007,0.210836,-0.013744,0.146603,0.027030
...,...,...,...,...,...,...,...,...
5275,zoz_sw,1970-01-01 00:00:26.375,0.032646,0.028275,0.519662,0.135150,-0.022907,0.223494
5276,zoz_sw,1970-01-01 00:00:26.380,-0.478584,-0.296353,0.069982,0.152254,-0.098041,0.268391
5277,zoz_sw,1970-01-01 00:00:26.385,-0.897290,-0.563466,-0.287334,0.155308,-0.165234,0.318786
5278,zoz_sw,1970-01-01 00:00:26.390,-1.035197,-0.655348,-0.474507,0.145534,-0.212269,0.362156
5279,zoz_sw,1970-01-01 00:00:26.395,-0.902300,-0.544031,-0.451925,0.134234,-0.234260,0.385063

In [5]:
df_final_bp = pd.DataFrame(columns=['name','time','LA(x)', 'LA(y)', 'LA(z)','GY(x)', 'GY(y)', 'GY(z)'])
# directory = os.path.join(os.getcwd(), 'straightWalk')
directory = "D:/My_Dataset_Renamed/backpack"
x=1
firstTime = True
for filename in os.listdir(directory):
    if (filename.endswith(".csv")):
        filepath = os.path.join(directory, filename)
        df_original = pd.read_csv(filepath)
        
#         num_rows_before = df_original.shape[0]
    
#         twenty = num_rows_before * 0.20
#         twenty = math.ceil(twenty)
        
#         #test = test.iloc[fivePercent:]
#         df_original_remove20 = df_original.iloc[:-twenty]
        
         
       
        df_processed = preprocess(df_original, filename[:-4])

        df_final_bp = pd.concat([df_final_bp, df_processed])
        
df_final_bp['name'] = df_final_bp['name'].astype(str) + "_bp"
df_final_bp

,name,time,LA(x),LA(y),LA(z),GY(x),GY(y),GY(z)
0,dinaelgendy_bp,1970-01-01 00:00:00.000,-1.893261,1.146352,-4.273222,-0.368646,0.474934,-0.203488
1,dinaelgendy_bp,1970-01-01 00:00:00.005,-2.662200,0.620083,-4.245460,-0.329858,0.490358,-0.265948
2,dinaelgendy_bp,1970-01-01 00:00:00.010,-3.249278,0.504086,-3.678744,-0.209826,0.467909,-0.285647
3,dinaelgendy_bp,1970-01-01 00:00:00.015,-3.462260,0.868586,-2.651723,-0.072996,0.412933,-0.277096
4,dinaelgendy_bp,1970-01-01 00:00:00.020,-2.574140,2.175757,0.207520,0.077883,0.353375,-0.256327
...,...,...,...,...,...,...,...,...
5584,yusuf_bp,1970-01-01 00:00:27.925,-1.028815,0.161180,3.087652,0.452994,0.177731,0.118937
5585,yusuf_bp,1970-01-01 00:00:27.930,-0.959788,0.117171,2.443160,0.482518,0.198551,0.134717
5586,yusuf_bp,1970-01-01 00:00:27.935,-0.632857,-0.021539,0.897996,0.482722,0.190610,0.144287
5587,yusuf_bp,1970-01-01 00:00:27.940,-0.206635,0.006004,-0.099991,0.435381,0.135226,0.117817
5588,yusuf_bp,1970-01-01 00:00:27.945,0.336707,0.063686,-0.883374,0.376740,0.077196,0.084526

In [6]:
df_final_st = pd.DataFrame(columns=['name','time','LA(x)', 'LA(y)', 'LA(z)','GY(x)', 'GY(y)', 'GY(z)'])
# directory = os.path.join(os.getcwd(), 'straightWalk')
directory = "D:/My_Dataset_Renamed/stairs"
x=1
firstTime = True
for filename in os.listdir(directory):
    if (filename.endswith(".csv")):
        filepath = os.path.join(directory, filename)
        df_original = pd.read_csv(filepath)
        
#         num_rows_before = df_original.shape[0]
    
#         twenty = num_rows_before * 0.20
#         twenty = math.ceil(twenty)
        
#         #test = test.iloc[fivePercent:]
#         df_original_remove20 = df_original.iloc[:-twenty]
        
         
       
        df_processed = preprocess(df_original, filename[:-4])

        df_final_st = pd.concat([df_final_st, df_processed])
        
df_final_st['name'] = df_final_st['name'].astype(str) + "_st"
df_final_st

,name,time,LA(x),LA(y),LA(z),GY(x),GY(y),GY(z)
0,ahmedamin_st,1970-01-01 00:00:00.000,1.017512,-0.197282,-0.216393,0.156835,0.085900,-0.139960
1,ahmedamin_st,1970-01-01 00:00:00.005,0.839003,-0.123386,-0.121983,0.155919,0.086817,-0.147291
2,ahmedamin_st,1970-01-01 00:00:00.010,0.632093,-0.073514,-0.174647,0.153781,0.075211,-0.146985
3,ahmedamin_st,1970-01-01 00:00:00.015,0.433957,-0.079890,-0.259684,0.157140,0.060550,-0.145458
4,ahmedamin_st,1970-01-01 00:00:00.020,0.301976,-0.120900,-0.183627,0.169765,0.042530,-0.142607
...,...,...,...,...,...,...,...,...
6011,yusuf_st,1970-01-01 00:00:30.060,1.170174,0.191718,0.244606,-0.037338,0.125758,0.035200
6012,yusuf_st,1970-01-01 00:00:30.065,1.003289,0.199782,-0.175847,-0.074600,0.113541,0.026037
6013,yusuf_st,1970-01-01 00:00:30.070,0.600925,0.281631,-0.559561,-0.121635,0.111709,0.030619
6014,yusuf_st,1970-01-01 00:00:30.075,0.195521,0.349347,-0.914096,-0.179055,0.121177,0.050166
6015,yusuf_st,1970-01-01 00:00:30.080,-0.111762,0.469113,-1.098810,-0.242277,0.153246,0.082235

In [7]:
df_final_h = pd.DataFrame(columns=['name','time','LA(x)', 'LA(y)', 'LA(z)','GY(x)', 'GY(y)', 'GY(z)'])
# directory = os.path.join(os.getcwd(), 'straightWalk')
directory = "D:/My_Dataset_Renamed/hand"
x=1
firstTime = True
for filename in os.listdir(directory):
    if (filename.endswith(".csv")):
        filepath = os.path.join(directory, filename)
        df_original = pd.read_csv(filepath)
        
#         num_rows_before = df_original.shape[0]
    
#         twenty = num_rows_before * 0.20
#         twenty = math.ceil(twenty)
        
#         #test = test.iloc[fivePercent:]
#         df_original_remove20 = df_original.iloc[:-twenty]
        
         
       
        df_processed = preprocess(df_original, filename[:-4])

        df_final_h = pd.concat([df_final_h, df_processed])
        
df_final_h['name'] = df_final_h['name'].astype(str) + "_h"
df_final_h

,name,time,LA(x),LA(y),LA(z),GY(x),GY(y),GY(z)
0,ahmedamir_h,1970-01-01 00:00:00.000,-0.609619,-0.017998,0.810964,-0.500131,0.039476,-1.357990
1,ahmedamir_h,1970-01-01 00:00:00.005,-0.756753,-0.250169,0.878092,-0.588704,0.104531,-1.409301
2,ahmedamir_h,1970-01-01 00:00:00.010,-0.937530,-0.642891,1.007172,-0.691734,0.187912,-1.463056
3,ahmedamir_h,1970-01-01 00:00:00.015,-1.106145,-1.037416,1.167536,-0.785702,0.274080,-1.507342
4,ahmedamir_h,1970-01-01 00:00:00.020,-1.205045,-1.327061,1.267284,-0.871526,0.365541,-1.542466
...,...,...,...,...,...,...,...,...
4835,yusuf_h,1970-01-01 00:00:24.175,0.424837,-0.259660,0.340178,-0.015424,-0.021151,-0.102393
4836,yusuf_h,1970-01-01 00:00:24.180,0.452574,-0.188061,0.120887,-0.044439,-0.018402,-0.104837
4837,yusuf_h,1970-01-01 00:00:24.185,0.449271,-0.198846,-0.057106,-0.086791,-0.016060,-0.106567
4838,yusuf_h,1970-01-01 00:00:24.190,0.442653,-0.248956,-0.151896,-0.115908,-0.010155,-0.109418
4839,yusuf_h,1970-01-01 00:00:24.195,0.341536,-0.301758,-0.155026,-0.129652,-0.014431,-0.110334

In [8]:
df_final = pd.concat([df_final_sw, df_final_bp, df_final_st, df_final_h], axis=0)
df_final

,name,time,LA(x),LA(y),LA(z),GY(x),GY(y),GY(z)
0,alibadawy_sw,1970-01-01 00:00:00.000,-0.268265,-0.005538,-0.071094,-0.016798,0.103233,0.033138
1,alibadawy_sw,1970-01-01 00:00:00.005,-0.163861,-0.004340,0.122527,-0.017613,0.110563,0.034157
2,alibadawy_sw,1970-01-01 00:00:00.010,-0.018824,-0.011455,0.059537,-0.018936,0.123697,0.031000
3,alibadawy_sw,1970-01-01 00:00:00.015,0.043948,-0.010231,0.135187,-0.019445,0.136423,0.030288
4,alibadawy_sw,1970-01-01 00:00:00.020,0.106720,-0.009007,0.210836,-0.013744,0.146603,0.027030
...,...,...,...,...,...,...,...,...
4835,yusuf_h,1970-01-01 00:00:24.175,0.424837,-0.259660,0.340178,-0.015424,-0.021151,-0.102393
4836,yusuf_h,1970-01-01 00:00:24.180,0.452574,-0.188061,0.120887,-0.044439,-0.018402,-0.104837
4837,yusuf_h,1970-01-01 00:00:24.185,0.449271,-0.198846,-0.057106,-0.086791,-0.016060,-0.106567
4838,yusuf_h,1970-01-01 00:00:24.190,0.442653,-0.248956,-0.151896,-0.115908,-0.010155,-0.109418
4839,yusuf_h,1970-01-01 00:00:24.195,0.341536,-0.301758,-0.155026,-0.129652,-0.014431,-0.110334

In [9]:
df_Xtime = df_final.drop(['time'], axis = 1).copy()
df_Xtime.shape

(514706, 7)

In [10]:
label = LabelEncoder()
df_Xtime['label'] = label.fit_transform(df_Xtime['name'])
df_Xtime

,name,LA(x),LA(y),LA(z),GY(x),GY(y),GY(z),label
0,alibadawy_sw,-0.268265,-0.005538,-0.071094,-0.016798,0.103233,0.033138,3
1,alibadawy_sw,-0.163861,-0.004340,0.122527,-0.017613,0.110563,0.034157,3
2,alibadawy_sw,-0.018824,-0.011455,0.059537,-0.018936,0.123697,0.031000,3
3,alibadawy_sw,0.043948,-0.010231,0.135187,-0.019445,0.136423,0.030288,3
4,alibadawy_sw,0.106720,-0.009007,0.210836,-0.013744,0.146603,0.027030,3
...,...,...,...,...,...,...,...,...
4835,yusuf_h,0.424837,-0.259660,0.340178,-0.015424,-0.021151,-0.102393,92
4836,yusuf_h,0.452574,-0.188061,0.120887,-0.044439,-0.018402,-0.104837,92
4837,yusuf_h,0.449271,-0.198846,-0.057106,-0.086791,-0.016060,-0.106567,92
4838,yusuf_h,0.442653,-0.248956,-0.151896,-0.115908,-0.010155,-0.109418,92
4839,yusuf_h,0.341536,-0.301758,-0.155026,-0.129652,-0.014431,-0.110334,92

In [11]:
label.classes_

array(['ahmedamin_st', 'ahmedamir_h', 'alibadawy_st', 'alibadawy_sw',
       'dinaelgendy_bp', 'dinaelgendy_st', 'dinaelgendy_sw', 'farah_bp',
       'farah_sw', 'ghazaly_bp', 'ghazaly_h', 'ghazaly_st', 'ghazaly_sw',
       'habibatarabay_bp', 'habibatarabay_h', 'habibatarabay_st',
       'habibatarabay_sw', 'hananabil_bp', 'hananabil_sw', 'hashem_bp',
       'hashem_h', 'hashem_st', 'hashem_sw', 'heidi_bp', 'heidi_h',
       'heidi_st', 'heidi_sw', 'hussenhany_bp', 'hussenhany_h',
       'hussenhany_st', 'hussenhany_sw', 'ismail_bp', 'ismail_h',
       'ismail_sw', 'janah_bp', 'janah_sw', 'judy_h', 'karen_bp',
       'karen_sw', 'mayar_bp', 'mayar_sw', 'mira_bp', 'mira_h', 'mira_sw',
       'moataz_bp', 'moataz_st', 'moataz_sw', 'mohamed_h',
       'mohameddawoud_bp', 'mohameddawoud_h', 'mohameddawoud_st',
       'mohameddawoud_sw', 'mohamedelshoura_bp', 'mohamedelshoura_h',
       'mohamedelshoura_st', 'mohamedelshoura_sw', 'moustafa_h',
       'moustafa_sw', 'nourhan_bp', 'nourhan_st', 'nourhan_sw', 'ola_bp',
       'ola_h', 'ola_sw', 'rolla_bp', 'rolla_h', 'rolla_sw', 'salwa_bp',
       'salwa_h', 'salwa_sw', 'seifana_bp', 'seifana_h', 'seifana_sw',
       'seifzakaria_bp', 'seifzakaria_sw', 'tokhye_bp', 'tokhye_h',
       'tokhye_st', 'tokhye_sw', 'waed_bp', 'waed_sw', 'yaseen_bp',
       'yaseen_st', 'yaseen_sw', 'youssef_bp', 'youssef_h', 'youssef_st',
       'youssef_sw', 'youssefemad_bp', 'youssefemad_st', 'youssefemad_sw',
       'yusuf_bp', 'yusuf_h', 'yusuf_st', 'yusuf_sw', 'zoz_sw'],
      dtype=object)

In [12]:
X = df_Xtime[['LA(x)', 'LA(y)', 'LA(z)','GY(x)', 'GY(y)', 'GY(z)']].copy()
y = df_Xtime['label'].copy()

In [13]:
scaler = StandardScaler()
X_transformed = X.copy()
X_transformed = scaler.fit_transform(X_transformed)

scaled_X = pd.DataFrame(data = X_transformed, columns = ['LA(x)', 'LA(y)', 'LA(z)','GY(x)', 'GY(y)', 'GY(z)'])
scaled_X['label'] = y.values

scaled_X

           LA(x)     LA(y)     LA(z)     GY(x)     GY(y)     GY(z)  label
0      -0.155059  0.124667 -0.099889 -0.053019  0.127689  0.043789      3
1      -0.116314  0.125089 -0.037980 -0.053824  0.133642  0.044983      3
2      -0.062489  0.122583 -0.058121 -0.055134  0.144309  0.041281      3
3      -0.039194  0.123014 -0.033933 -0.055638  0.154644  0.040445      3
4      -0.015898  0.123445 -0.009744 -0.049997  0.162913  0.036624      3
...          ...       ...       ...       ...       ...       ...    ...
514701  0.102157  0.035148  0.031612 -0.051659  0.026670 -0.115194     92
514702  0.112451  0.060370 -0.038505 -0.080367  0.028902 -0.118060     92
514703  0.111225  0.056571 -0.095416 -0.122272  0.030804 -0.120090     92
514704  0.108769  0.038919 -0.125725 -0.151082  0.035600 -0.123434     92
514705  0.071244  0.020318 -0.126726 -0.164680  0.032127 -0.124509     92

[514706 rows x 7 columns]

In [14]:
import scipy.stats as stats

Fs = 200
frame_size = Fs*9
hop_size = int(Fs*1)

In [15]:
def get_frames(df, frame_size, hop_size):
    N_FEATURES = 6

    frames = []
    labels = []
    
    last_value = df['label'].iloc[-1]
    for j in range (0,last_value+1): 
        filtered_df = df[df['label'] == j]
        filtered_df = filtered_df.drop('label', axis = 1)
        for i in range(0, len(filtered_df) - frame_size, hop_size):
            df_frame = filtered_df[i: i + frame_size].copy()
            
            

            label = j

            temp_frames = df_frame.to_numpy()
            
            frames.append(temp_frames)
            labels.append(label)

    frames = np.asarray(frames)
    labels = np.asarray(labels)
    
    return frames, labels
X, y = get_frames(scaled_X,frame_size, hop_size)
X.shape, y.shape

((1692, 1800, 6), (1692,))

In [16]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 0, stratify = y)
X_train.shape, X_test.shape

((1184, 1800, 6), (508, 1800, 6))

In [17]:
X_train.shape, X_test.shape

((1184, 1800, 6), (508, 1800, 6))

In [18]:
# Get the unique elements and their counts
unique_elements, counts = np.unique(y_train, return_counts=True)

# Print the unique elements and their counts
for element, count in zip(unique_elements, counts):
    print(f"Number {element} is repeated {count} times")

Number 0 is repeated 22 times
Number 1 is repeated 17 times
Number 2 is repeated 10 times
Number 3 is repeated 11 times
Number 4 is repeated 7 times
Number 5 is repeated 12 times
Number 6 is repeated 8 times
Number 7 is repeated 11 times
Number 8 is repeated 13 times
Number 9 is repeated 13 times
Number 10 is repeated 11 times
Number 11 is repeated 15 times
Number 12 is repeated 12 times
Number 13 is repeated 12 times
Number 14 is repeated 10 times
Number 15 is repeated 13 times
Number 16 is repeated 15 times
Number 17 is repeated 13 times
Number 18 is repeated 13 times
Number 19 is repeated 11 times
Number 20 is repeated 12 times
Number 21 is repeated 10 times
Number 22 is repeated 11 times
Number 23 is repeated 7 times
Number 24 is repeated 6 times
Number 25 is repeated 10 times
Number 26 is repeated 8 times
Number 27 is repeated 13 times
Number 28 is repeated 10 times
Number 29 is repeated 8 times
Number 30 is repeated 11 times
Number 31 is repeated 11 times
Number 32 is repeated 8 times
Number 33 is repeated 10 times
Number 34 is repeated 10 times
Number 35 is repeated 10 times
Number 36 is repeated 10 times
Number 37 is repeated 11 times
Number 38 is repeated 16 times
Number 39 is repeated 13 times
Number 40 is repeated 15 times
Number 41 is repeated 9 times
Number 42 is repeated 8 times
Number 43 is repeated 11 times
Number 44 is repeated 11 times
Number 45 is repeated 13 times
Number 46 is repeated 10 times
Number 47 is repeated 10 times
Number 48 is repeated 13 times
Number 49 is repeated 11 times
Number 50 is repeated 17 times
Number 51 is repeated 13 times
Number 52 is repeated 14 times
Number 53 is repeated 11 times
Number 54 is repeated 15 times
Number 55 is repeated 12 times
Number 56 is repeated 14 times
Number 57 is repeated 13 times
Number 58 is repeated 12 times
Number 59 is repeated 16 times
Number 60 is repeated 12 times
Number 61 is repeated 11 times
Number 62 is repeated 11 times
Number 63 is repeated 12 times
Number 64 is repeated 11 times
Number 65 is repeated 11 times
Number 66 is repeated 13 times
Number 67 is repeated 11 times
Number 68 is repeated 11 times
Number 69 is repeated 9 times
Number 70 is repeated 12 times
Number 71 is repeated 9 times
Number 72 is repeated 11 times
Number 73 is repeated 10 times
Number 74 is repeated 10 times
Number 75 is repeated 9 times
Number 76 is repeated 7 times
Number 77 is repeated 12 times
Number 78 is repeated 10 times
Number 79 is repeated 134 times
Number 80 is repeated 13 times
Number 81 is repeated 12 times
Number 82 is repeated 13 times
Number 83 is repeated 11 times
Number 84 is repeated 11 times
Number 85 is repeated 8 times
Number 86 is repeated 13 times
Number 87 is repeated 9 times
Number 88 is repeated 10 times
Number 89 is repeated 12 times
Number 90 is repeated 10 times
Number 91 is repeated 13 times
Number 92 is repeated 11 times

In [19]:
num_classes = len(label.classes_)
num_classes

96

In [20]:
# chatgpt
model = Sequential()
model.add(Conv1D(filters=32, kernel_size=3, activation='relu', input_shape=X_train[0].shape))
model.add(MaxPooling1D(pool_size=2))
model.add(Conv1D(filters=64, kernel_size=3, activation='relu'))
model.add(MaxPooling1D(pool_size=2))
model.add(Conv1D(filters=128, kernel_size=3, activation='relu'))
model.add(MaxPooling1D(pool_size=2))
model.add(Flatten())
model.add(Dense(256, activation='relu'))
model.add(Dropout(0.5))
model.add(Dense(num_classes, activation='softmax'))

In [21]:
model.summary(line_length = 75)

Model: "sequential"
___________________________________________________________________________
 Layer (type)                    Output Shape                  Param #
===========================================================================
 conv1d (Conv1D)                 (None, 1798, 32)              608

 max_pooling1d (MaxPooling1D)    (None, 899, 32)               0

 conv1d_1 (Conv1D)               (None, 897, 64)               6208

 max_pooling1d_1 (MaxPooling1D)  (None, 448, 64)               0

 conv1d_2 (Conv1D)               (None, 446, 128)              24704

 max_pooling1d_2 (MaxPooling1D)  (None, 223, 128)              0

 flatten (Flatten)               (None, 28544)                 0

 dense (Dense)                   (None, 256)                   7307520

 dropout (Dropout)               (None, 256)                   0

 dense_1 (Dense)                 (None, 96)                    24672

===========================================================================
Total params: 7,363,712
Trainable params: 7,363,712
Non-trainable params: 0
___________________________________________________________________________

In [22]:
model.compile(optimizer=Adam(learning_rate = 0.001), loss=tf.keras.losses.SparseCategoricalCrossentropy(), metrics = ['accuracy'])

In [23]:
early_stopping = tf.keras.callbacks.EarlyStopping(
    monitor = 'val_loss',
    mode = 'auto',
    min_delta = 0,
    patience = 2,
    verbose = 0,
    restore_best_weights = True
)

In [24]:
history = model.fit(X_train, y_train, epochs = 15, verbose=1)

Epoch 1/15
37/37 [==============================] - 5s 115ms/step - loss: 4.6634 - accuracy: 0.0819
Epoch 2/15
37/37 [==============================] - 5s 125ms/step - loss: 4.0266 - accuracy: 0.1410
Epoch 3/15
37/37 [==============================] - 5s 127ms/step - loss: 3.0568 - accuracy: 0.2804
Epoch 4/15
37/37 [==============================] - 5s 124ms/step - loss: 1.7077 - accuracy: 0.5608
Epoch 5/15
37/37 [==============================] - 4s 119ms/step - loss: 0.8921 - accuracy: 0.7559
Epoch 6/15
37/37 [==============================] - 4s 115ms/step - loss: 0.5150 - accuracy: 0.8556
Epoch 7/15
37/37 [==============================] - 4s 120ms/step - loss: 0.3580 - accuracy: 0.9020
Epoch 8/15
37/37 [==============================] - 5s 124ms/step - loss: 0.2260 - accuracy: 0.9383
Epoch 9/15
37/37 [==============================] - 5s 133ms/step - loss: 0.2030 - accuracy: 0.9383
Epoch 10/15
37/37 [==============================] - 5s 135ms/step - loss: 0.1678 - accuracy: 0.9552
Epoch 11/15
37/37 [==============================] - 5s 132ms/step - loss: 0.1151 - accuracy: 0.9704
Epoch 12/15
37/37 [==============================] - 5s 145ms/step - loss: 0.1197 - accuracy: 0.9662
Epoch 13/15
37/37 [==============================] - 5s 142ms/step - loss: 0.1048 - accuracy: 0.9696
Epoch 14/15
37/37 [==============================] - 5s 146ms/step - loss: 0.0852 - accuracy: 0.9814
Epoch 15/15
37/37 [==============================] - 6s 153ms/step - loss: 0.0633 - accuracy: 0.9856

In [25]:
test_loss, test_accuracy = model.evaluate(X_test, y_test)
print('Test loss: {0: .4f}. Test accuracy: {1: .2f}%'.format(test_loss, test_accuracy*100))

16/16 [==============================] - 1s 31ms/step - loss: 2.7583 - accuracy: 0.4488
Test loss:  2.7583. Test accuracy:  44.88%