In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import svm
from sklearn.model_selection import train_test_split
import seaborn as sns # for plotting.
import os
from sklearn.preprocessing import StandardScaler, LabelEncoder
import math

In [2]:
# import xgboost as xgb
# from sklearn.model_selection import GridSearchCV

In [3]:
def preprocess(df, name):
    df_gyro = pd.DataFrame(columns=['time','GY(x)', 'GY(y)', 'GY(z)'])
    df_acc = pd.DataFrame(columns=['time','LA(x)', 'LA(y)', 'LA(z)'])
    
    df_gyro[['time','GY(x)', 'GY(y)', 'GY(z)']] = df[['TimeStamp','GY(x)', 'GY(y)', 'GY(z)']].copy()
#     df_gyro['name'] = df_gyro['name'].fillna(name)
    df_gyro = df_gyro.dropna()
    df_acc[['time','LA(x)', 'LA(y)', 'LA(z)']] = df[['TimeStamp','LA(x)', 'LA(y)', 'LA(z)']].copy()
#     df_acc['name'] = df_acc['name'].fillna(name)
    df_acc = df_acc.dropna()
    
    df_gyro['time'] = pd.to_datetime(df_gyro['time'], unit='ms')
    df_indexed_gyro = df_gyro.set_index('time')
    resampled_df_gyro = df_indexed_gyro.resample('5ms').mean().interpolate()
    resampled_df_gyro['name'] = name
    resampled_df_gyro.reset_index(inplace=True)
    
    df_acc['time'] = pd.to_datetime(df_acc['time'], unit='ms')
    df_indexed_acc = df_acc.set_index('time')
    resampled_df_acc = df_indexed_acc.resample('5ms').mean().interpolate()
#     resampled_df_acc['name'] = name
    resampled_df_acc.reset_index(inplace=True)
    
    # Inner join: Only the common values in both DataFrames are included in the merged DataFrame (inner_merged_df).
    
    inner_merged_df = pd.merge(resampled_df_acc, resampled_df_gyro, on='time', how='inner')
    
    return inner_merged_df

In [4]:
df_final_sw = pd.DataFrame(columns=['name','time','LA(x)', 'LA(y)', 'LA(z)','GY(x)', 'GY(y)', 'GY(z)'])
# directory = os.path.join(os.getcwd(), 'straightWalk')
directory = "D:/My_Dataset_Renamed/straightWalk"
x=1
firstTime = True
for filename in os.listdir(directory):
    if (filename.endswith(".csv")):
        filepath = os.path.join(directory, filename)
        df_original = pd.read_csv(filepath)
        
#         num_rows_before = df_original.shape[0]
    
#         twenty = num_rows_before * 0.20
#         twenty = math.ceil(twenty)
        
#         #test = test.iloc[fivePercent:]
#         df_original_remove20 = df_original.iloc[:-twenty]
        
         
       
        df_processed = preprocess(df_original, filename[:-4])

        df_final_sw = pd.concat([df_final_sw, df_processed])
        
# df_final_sw['name'] = df_final_sw['name'].astype(str) + "_sw"
df_final_sw

,name,time,LA(x),LA(y),LA(z),GY(x),GY(y),GY(z)
0,alibadawy,1970-01-01 00:00:00.000,-0.268265,-0.005538,-0.071094,-0.016798,0.103233,0.033138
1,alibadawy,1970-01-01 00:00:00.005,-0.163861,-0.004340,0.122527,-0.017613,0.110563,0.034157
2,alibadawy,1970-01-01 00:00:00.010,-0.018824,-0.011455,0.059537,-0.018936,0.123697,0.031000
3,alibadawy,1970-01-01 00:00:00.015,0.043948,-0.010231,0.135187,-0.019445,0.136423,0.030288
4,alibadawy,1970-01-01 00:00:00.020,0.106720,-0.009007,0.210836,-0.013744,0.146603,0.027030
...,...,...,...,...,...,...,...,...
5275,zoz,1970-01-01 00:00:26.375,0.032646,0.028275,0.519662,0.135150,-0.022907,0.223494
5276,zoz,1970-01-01 00:00:26.380,-0.478584,-0.296353,0.069982,0.152254,-0.098041,0.268391
5277,zoz,1970-01-01 00:00:26.385,-0.897290,-0.563466,-0.287334,0.155308,-0.165234,0.318786
5278,zoz,1970-01-01 00:00:26.390,-1.035197,-0.655348,-0.474507,0.145534,-0.212269,0.362156
5279,zoz,1970-01-01 00:00:26.395,-0.902300,-0.544031,-0.451925,0.134234,-0.234260,0.385063

In [5]:
df_final_bp = pd.DataFrame(columns=['name','time','LA(x)', 'LA(y)', 'LA(z)','GY(x)', 'GY(y)', 'GY(z)'])
# directory = os.path.join(os.getcwd(), 'straightWalk')
directory = "D:/My_Dataset_Renamed/backpack"
x=1
firstTime = True
for filename in os.listdir(directory):
    if (filename.endswith(".csv")):
        filepath = os.path.join(directory, filename)
        df_original = pd.read_csv(filepath)
        
#         num_rows_before = df_original.shape[0]
    
#         twenty = num_rows_before * 0.20
#         twenty = math.ceil(twenty)
        
#         #test = test.iloc[fivePercent:]
#         df_original_remove20 = df_original.iloc[:-twenty]
        
         
       
        df_processed = preprocess(df_original, filename[:-4])

        df_final_bp = pd.concat([df_final_bp, df_processed])
        
# df_final_bp['name'] = df_final_bp['name'].astype(str) + "_bp"
df_final_bp

,name,time,LA(x),LA(y),LA(z),GY(x),GY(y),GY(z)
0,dinaelgendy,1970-01-01 00:00:00.000,-1.893261,1.146352,-4.273222,-0.368646,0.474934,-0.203488
1,dinaelgendy,1970-01-01 00:00:00.005,-2.662200,0.620083,-4.245460,-0.329858,0.490358,-0.265948
2,dinaelgendy,1970-01-01 00:00:00.010,-3.249278,0.504086,-3.678744,-0.209826,0.467909,-0.285647
3,dinaelgendy,1970-01-01 00:00:00.015,-3.462260,0.868586,-2.651723,-0.072996,0.412933,-0.277096
4,dinaelgendy,1970-01-01 00:00:00.020,-2.574140,2.175757,0.207520,0.077883,0.353375,-0.256327
...,...,...,...,...,...,...,...,...
5584,yusuf,1970-01-01 00:00:27.925,-1.028815,0.161180,3.087652,0.452994,0.177731,0.118937
5585,yusuf,1970-01-01 00:00:27.930,-0.959788,0.117171,2.443160,0.482518,0.198551,0.134717
5586,yusuf,1970-01-01 00:00:27.935,-0.632857,-0.021539,0.897996,0.482722,0.190610,0.144287
5587,yusuf,1970-01-01 00:00:27.940,-0.206635,0.006004,-0.099991,0.435381,0.135226,0.117817
5588,yusuf,1970-01-01 00:00:27.945,0.336707,0.063686,-0.883374,0.376740,0.077196,0.084526

In [6]:
df_final_st = pd.DataFrame(columns=['name','time','LA(x)', 'LA(y)', 'LA(z)','GY(x)', 'GY(y)', 'GY(z)'])
# directory = os.path.join(os.getcwd(), 'straightWalk')
directory = "D:/My_Dataset_Renamed/stairs"
x=1
firstTime = True
for filename in os.listdir(directory):
    if (filename.endswith(".csv")):
        filepath = os.path.join(directory, filename)
        df_original = pd.read_csv(filepath)
        
#         num_rows_before = df_original.shape[0]
    
#         twenty = num_rows_before * 0.20
#         twenty = math.ceil(twenty)
        
#         #test = test.iloc[fivePercent:]
#         df_original_remove20 = df_original.iloc[:-twenty]
        
         
       
        df_processed = preprocess(df_original, filename[:-4])

        df_final_st = pd.concat([df_final_st, df_processed])
        
df_final_st['name'] = df_final_st['name'].astype(str) + "_st"
df_final_st

,name,time,LA(x),LA(y),LA(z),GY(x),GY(y),GY(z)
0,ahmedamin_st,1970-01-01 00:00:00.000,1.017512,-0.197282,-0.216393,0.156835,0.085900,-0.139960
1,ahmedamin_st,1970-01-01 00:00:00.005,0.839003,-0.123386,-0.121983,0.155919,0.086817,-0.147291
2,ahmedamin_st,1970-01-01 00:00:00.010,0.632093,-0.073514,-0.174647,0.153781,0.075211,-0.146985
3,ahmedamin_st,1970-01-01 00:00:00.015,0.433957,-0.079890,-0.259684,0.157140,0.060550,-0.145458
4,ahmedamin_st,1970-01-01 00:00:00.020,0.301976,-0.120900,-0.183627,0.169765,0.042530,-0.142607
...,...,...,...,...,...,...,...,...
6011,yusuf_st,1970-01-01 00:00:30.060,1.170174,0.191718,0.244606,-0.037338,0.125758,0.035200
6012,yusuf_st,1970-01-01 00:00:30.065,1.003289,0.199782,-0.175847,-0.074600,0.113541,0.026037
6013,yusuf_st,1970-01-01 00:00:30.070,0.600925,0.281631,-0.559561,-0.121635,0.111709,0.030619
6014,yusuf_st,1970-01-01 00:00:30.075,0.195521,0.349347,-0.914096,-0.179055,0.121177,0.050166
6015,yusuf_st,1970-01-01 00:00:30.080,-0.111762,0.469113,-1.098810,-0.242277,0.153246,0.082235

In [7]:
df_final_h = pd.DataFrame(columns=['name','time','LA(x)', 'LA(y)', 'LA(z)','GY(x)', 'GY(y)', 'GY(z)'])
# directory = os.path.join(os.getcwd(), 'straightWalk')
directory = "D:/My_Dataset_Renamed/hand"
x=1
firstTime = True
for filename in os.listdir(directory):
    if (filename.endswith(".csv")):
        filepath = os.path.join(directory, filename)
        df_original = pd.read_csv(filepath)
        
#         num_rows_before = df_original.shape[0]
    
#         twenty = num_rows_before * 0.20
#         twenty = math.ceil(twenty)
        
#         #test = test.iloc[fivePercent:]
#         df_original_remove20 = df_original.iloc[:-twenty]
        
         
       
        df_processed = preprocess(df_original, filename[:-4])

        df_final_h = pd.concat([df_final_h, df_processed])
        
df_final_h['name'] = df_final_h['name'].astype(str) + "_h"
df_final_h

,name,time,LA(x),LA(y),LA(z),GY(x),GY(y),GY(z)
0,ahmedamir_h,1970-01-01 00:00:00.000,-0.609619,-0.017998,0.810964,-0.500131,0.039476,-1.357990
1,ahmedamir_h,1970-01-01 00:00:00.005,-0.756753,-0.250169,0.878092,-0.588704,0.104531,-1.409301
2,ahmedamir_h,1970-01-01 00:00:00.010,-0.937530,-0.642891,1.007172,-0.691734,0.187912,-1.463056
3,ahmedamir_h,1970-01-01 00:00:00.015,-1.106145,-1.037416,1.167536,-0.785702,0.274080,-1.507342
4,ahmedamir_h,1970-01-01 00:00:00.020,-1.205045,-1.327061,1.267284,-0.871526,0.365541,-1.542466
...,...,...,...,...,...,...,...,...
4835,yusuf_h,1970-01-01 00:00:24.175,0.424837,-0.259660,0.340178,-0.015424,-0.021151,-0.102393
4836,yusuf_h,1970-01-01 00:00:24.180,0.452574,-0.188061,0.120887,-0.044439,-0.018402,-0.104837
4837,yusuf_h,1970-01-01 00:00:24.185,0.449271,-0.198846,-0.057106,-0.086791,-0.016060,-0.106567
4838,yusuf_h,1970-01-01 00:00:24.190,0.442653,-0.248956,-0.151896,-0.115908,-0.010155,-0.109418
4839,yusuf_h,1970-01-01 00:00:24.195,0.341536,-0.301758,-0.155026,-0.129652,-0.014431,-0.110334

In [8]:
df_final = pd.concat([df_final_sw, df_final_bp, df_final_st, df_final_h], axis=0)
# df_final = pd.concat([df_final_sw, df_final_bp], axis=0)
# df_final = df_final_sw.copy()
df_final

,name,time,LA(x),LA(y),LA(z),GY(x),GY(y),GY(z)
0,alibadawy,1970-01-01 00:00:00.000,-0.268265,-0.005538,-0.071094,-0.016798,0.103233,0.033138
1,alibadawy,1970-01-01 00:00:00.005,-0.163861,-0.004340,0.122527,-0.017613,0.110563,0.034157
2,alibadawy,1970-01-01 00:00:00.010,-0.018824,-0.011455,0.059537,-0.018936,0.123697,0.031000
3,alibadawy,1970-01-01 00:00:00.015,0.043948,-0.010231,0.135187,-0.019445,0.136423,0.030288
4,alibadawy,1970-01-01 00:00:00.020,0.106720,-0.009007,0.210836,-0.013744,0.146603,0.027030
...,...,...,...,...,...,...,...,...
4835,yusuf_h,1970-01-01 00:00:24.175,0.424837,-0.259660,0.340178,-0.015424,-0.021151,-0.102393
4836,yusuf_h,1970-01-01 00:00:24.180,0.452574,-0.188061,0.120887,-0.044439,-0.018402,-0.104837
4837,yusuf_h,1970-01-01 00:00:24.185,0.449271,-0.198846,-0.057106,-0.086791,-0.016060,-0.106567
4838,yusuf_h,1970-01-01 00:00:24.190,0.442653,-0.248956,-0.151896,-0.115908,-0.010155,-0.109418
4839,yusuf_h,1970-01-01 00:00:24.195,0.341536,-0.301758,-0.155026,-0.129652,-0.014431,-0.110334

In [9]:
df_Xtime = df_final.drop(['time'], axis = 1).copy()
df_Xtime.shape

(514706, 7)

In [10]:
label = LabelEncoder()
df_Xtime['label'] = label.fit_transform(df_Xtime['name'])
df_Xtime

,name,LA(x),LA(y),LA(z),GY(x),GY(y),GY(z),label
0,alibadawy,-0.268265,-0.005538,-0.071094,-0.016798,0.103233,0.033138,2
1,alibadawy,-0.163861,-0.004340,0.122527,-0.017613,0.110563,0.034157,2
2,alibadawy,-0.018824,-0.011455,0.059537,-0.018936,0.123697,0.031000,2
3,alibadawy,0.043948,-0.010231,0.135187,-0.019445,0.136423,0.030288,2
4,alibadawy,0.106720,-0.009007,0.210836,-0.013744,0.146603,0.027030,2
...,...,...,...,...,...,...,...,...
4835,yusuf_h,0.424837,-0.259660,0.340178,-0.015424,-0.021151,-0.102393,65
4836,yusuf_h,0.452574,-0.188061,0.120887,-0.044439,-0.018402,-0.104837,65
4837,yusuf_h,0.449271,-0.198846,-0.057106,-0.086791,-0.016060,-0.106567,65
4838,yusuf_h,0.442653,-0.248956,-0.151896,-0.115908,-0.010155,-0.109418,65
4839,yusuf_h,0.341536,-0.301758,-0.155026,-0.129652,-0.014431,-0.110334,65

In [11]:
df_original = df_Xtime.drop("name", axis=1).copy()
# df_original

In [12]:
len(df_final_sw)

155302

In [13]:
num_classes = len(label.classes_)
num_classes

68

In [14]:

df_test = pd.DataFrame(columns=['LAx','LAy','LAz','GYx','GYy','GYz','label'])
df_train = pd.DataFrame(columns=['LAx','LAy','LAz','GYx','GYy','GYz','label'])

for i in range(0,num_classes):
    df_original_i = df_original[df_original['label'] == i]
    length = len(df_original_i)
    num_rows_70 = int(length*0.7)
    
    train_row = df_original_i[:num_rows_70]
    test_row = df_original_i[num_rows_70:]
    if df_train.empty:
        df_train = train_row
        df_test = test_row
    else:
        df_train = pd.concat([df_train, train_row], ignore_index=True)
        df_test = pd.concat([df_test, test_row], ignore_index=True)
    
    

df_train.shape, df_test.shape

((360262, 7), (154444, 7))

In [15]:
df_train

           LA(x)     LA(y)     LA(z)     GY(x)     GY(y)     GY(z)  label
0       1.017512 -0.197282 -0.216393  0.156835  0.085900 -0.139960      0
1       0.839003 -0.123386 -0.121983  0.155919  0.086817 -0.147291      0
2       0.632093 -0.073514 -0.174647  0.153781  0.075211 -0.146985      0
3       0.433957 -0.079890 -0.259684  0.157140  0.060550 -0.145458      0
4       0.301976 -0.120900 -0.183627  0.169765  0.042530 -0.142607      0
...          ...       ...       ...       ...       ...       ...    ...
360257 -0.632624 -1.281633 -1.105242  0.249378 -1.192068  0.163860     67
360258 -0.441176 -1.101094 -1.065564  0.214255 -1.213448  0.148894     67
360259 -0.259552 -0.963933 -0.961346  0.192264 -1.197871  0.129041     67
360260 -0.151862 -0.857123 -0.795906  0.185545 -1.155418  0.102470     67
360261 -0.018345 -0.795216 -0.558895  0.200816 -1.103496  0.067346     67

[360262 rows x 7 columns]

In [16]:
# X_train_notFramed = df_train[['LA(x)', 'LA(y)', 'LA(z)','GY(x)', 'GY(y)', 'GY(z)']].copy()
# y_train_notFramed = df_train['label'].copy()

# X_test_notFramed = df_test[['LA(x)', 'LA(y)', 'LA(z)','GY(x)', 'GY(y)', 'GY(z)']].copy()
# y_test_notFramed = df_test['label'].copy()
# X_train_notFramed.shape, X_test_notFramed.shape, y_train_notFramed.shape, y_test_notFramed.shape

In [17]:
# scaler = StandardScaler()
# X_transformed = X.copy()
# X_transformed = scaler.fit_transform(X_transformed)

# scaled_X = pd.DataFrame(data = X_transformed, columns = ['LA(x)', 'LA(y)', 'LA(z)','GY(x)', 'GY(y)', 'GY(z)'])
# scaled_X['label'] = y.values

# scaled_X

In [18]:
import scipy.stats as stats

Fs = 200
frame_size = int(Fs*6)
hop_size = int(Fs*2)

In [19]:
#!!!!! Manually Change last_value(num_values)

def get_frames(df, frame_size, hop_size):
    df_framed = pd.DataFrame(columns=['name','mean_LA(x)', 'mean_LA(y)', 'mean_LA(z)', 'mean_GY(x)', 'mean_GY(y)', 'mean_GY(z)','sd_LA(x)', 'sd_LA(y)', 'sd_LA(z)', 'sd_GY(x)', 'sd_GY(y)', 'sd_GY(z)'])
    
    last_value =  len(label.classes_)
    for j in range (0,last_value): 
        filtered_df = df[df['label'] == j]
        filtered_df = filtered_df.drop('label', axis = 1)
        for i in range(0, len(filtered_df) - frame_size, hop_size):
            frame = filtered_df[i: i + frame_size]

            new_row = [j
                       ,frame['LA(x)'].mean(), frame['LA(y)'].mean(), frame['LA(z)'].mean(),
                       frame['GY(x)'].mean(), frame['GY(y)'].mean(), frame['GY(z)'].mean(),
                       frame['LA(x)'].std(), frame['LA(y)'].std(), frame['LA(z)'].std(),
                       frame['GY(x)'].std(), frame['GY(y)'].std(), frame['GY(z)'].std()]



            df_framed.loc[len(df_framed)] = new_row


    return df_framed

In [20]:
df_framed_train = get_frames(df_train,frame_size,hop_size)
df_framed_test = get_frames(df_test,frame_size,hop_size)
df_framed_test

,name,mean_LA(x),mean_LA(y),mean_LA(z),mean_GY(x),mean_GY(y),mean_GY(z),sd_LA(x),sd_LA(y),sd_LA(z),sd_GY(x),sd_GY(y),sd_GY(z)
0,0.0,0.166506,-0.297277,0.338992,0.033903,0.048731,-0.020549,2.010400,3.245722,2.511138,1.154863,0.665201,0.442403
1,0.0,0.071671,-0.149562,0.195756,0.012673,0.063073,-0.025890,1.440430,2.195309,1.769771,0.806601,0.520505,0.388759
2,0.0,0.042607,-0.290884,0.023417,0.292635,0.153206,0.213341,1.304766,1.479339,1.428658,0.568203,0.537345,0.994177
3,0.0,0.020810,-0.288468,0.044512,0.315176,0.193206,0.271623,1.377455,1.218486,1.527868,0.553384,0.608967,0.991025
4,1.0,0.458302,-0.890520,0.776064,-0.439825,0.263430,-0.101480,3.431930,2.508017,2.360014,0.933615,1.077585,1.252577
...,...,...,...,...,...,...,...,...,...,...,...,...,...
208,64.0,0.288598,0.115366,0.614843,-0.023346,0.396985,-0.075529,1.997816,2.608402,3.302920,1.353156,1.821755,0.816106
209,65.0,-0.083433,-0.364937,0.235227,0.004752,0.311939,0.516844,0.730961,0.640493,1.306542,0.218956,0.438917,0.669838
210,66.0,0.335910,0.662828,0.943744,0.005791,0.071548,-0.055417,2.690182,5.169310,4.000077,1.947582,1.438011,0.771261
211,66.0,0.314095,0.553582,0.674483,-0.137728,0.137033,-0.038915,2.572010,4.844247,3.796005,1.762536,1.577805,0.789931
212,67.0,0.037227,0.022334,0.072603,-0.146393,-0.278611,-0.129260,1.517699,1.465819,1.716710,0.668040,1.261580,0.740374

In [21]:
df_shuffled_train = df_framed_train.sample(frac=1).reset_index(drop=True)
df_shuffled_test = df_framed_test.sample(frac=1).reset_index(drop=True)
df_shuffled_train.shape, df_shuffled_test.shape

((734, 13), (213, 13))

In [22]:
df_shuffled_train[df_shuffled_train['name']==11]

,name,mean_LA(x),mean_LA(y),mean_LA(z),mean_GY(x),mean_GY(y),mean_GY(z),sd_LA(x),sd_LA(y),sd_LA(z),sd_GY(x),sd_GY(y),sd_GY(z)
101,11.0,0.414704,-0.531604,0.695542,-0.373165,0.107836,0.036823,2.376950,2.201287,1.738114,1.042797,0.719224,1.014369
149,11.0,0.363948,-0.549214,0.509097,-0.471143,0.139919,0.017289,2.635730,2.166507,1.734556,1.109095,0.733335,1.015529
552,11.0,0.149720,-0.457845,0.744617,0.430901,-0.363685,-0.077047,1.984339,1.830238,1.768292,0.850259,0.822887,0.853948
620,11.0,0.391974,-0.332078,0.617209,0.363400,-0.284506,0.002050,2.147011,1.909757,1.792952,0.917431,0.843997,0.861074
631,11.0,0.422786,-0.477542,0.530097,-0.506046,0.202896,0.090734,2.254108,2.064952,1.763698,1.044110,0.700785,0.884681
718,11.0,0.366095,-0.327196,0.648670,0.398226,-0.308645,0.048398,2.018968,1.864352,1.783625,0.843498,0.808715,0.872082

In [23]:
X_train = df_shuffled_train.drop('name', axis=1).copy() # Features (all columns except the target)
y_train = df_shuffled_train['name'].copy()  # Labels

In [24]:
X_test = df_shuffled_test.drop('name', axis=1).copy()  # Features (all columns except the target)
y_test = df_shuffled_test['name'].copy()  # Labels

In [25]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((734, 12), (213, 12), (734,), (213,))

In [26]:
#Create a svm Classifier
model = svm.SVC(C = 4, # reg paramater
                kernel='linear', #kernel{â€˜linearâ€™, â€˜polyâ€™, â€˜rbfâ€™, â€˜sigmoidâ€™, â€˜precomputedâ€™}, default=â€™rbfâ€™
               ) # Linear Kernel

#Train the model using the training sets
model.fit(X_train, y_train)


from sklearn import metrics
y_pred = model.predict(X_test)
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.704225352112676