In [1]:
import pandas as pd
import numpy as np
import os
import math
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.metrics import accuracy_score

In [2]:
import xgboost as xgb
from sklearn.model_selection import GridSearchCV

In [3]:
def preprocess(df, name):
    df_gyro = pd.DataFrame(columns=['time','GY(x)', 'GY(y)', 'GY(z)'])
    df_acc = pd.DataFrame(columns=['time','LA(x)', 'LA(y)', 'LA(z)'])
    
    df_gyro[['time','GY(x)', 'GY(y)', 'GY(z)']] = df[['TimeStamp','GY(x)', 'GY(y)', 'GY(z)']].copy()
#     df_gyro['name'] = df_gyro['name'].fillna(name)
    df_gyro = df_gyro.dropna()
    df_acc[['time','LA(x)', 'LA(y)', 'LA(z)']] = df[['TimeStamp','LA(x)', 'LA(y)', 'LA(z)']].copy()
#     df_acc['name'] = df_acc['name'].fillna(name)
    df_acc = df_acc.dropna()
    
    df_gyro['time'] = pd.to_datetime(df_gyro['time'], unit='ms')
    df_indexed_gyro = df_gyro.set_index('time')
    resampled_df_gyro = df_indexed_gyro.resample('5ms').mean().interpolate()
    resampled_df_gyro['name'] = name
    resampled_df_gyro.reset_index(inplace=True)
    
    df_acc['time'] = pd.to_datetime(df_acc['time'], unit='ms')
    df_indexed_acc = df_acc.set_index('time')
    resampled_df_acc = df_indexed_acc.resample('5ms').mean().interpolate()
#     resampled_df_acc['name'] = name
    resampled_df_acc.reset_index(inplace=True)
    
    # Inner join: Only the common values in both DataFrames are included in the merged DataFrame (inner_merged_df).
    
    inner_merged_df = pd.merge(resampled_df_acc, resampled_df_gyro, on='time', how='inner')
    
    return inner_merged_df

In [4]:
df_final_sw = pd.DataFrame(columns=['name','time','LA(x)', 'LA(y)', 'LA(z)','GY(x)', 'GY(y)', 'GY(z)'])
# directory = os.path.join(os.getcwd(), 'straightWalk')
directory = "D:/My_Dataset_Renamed/straightWalk"
x=1
firstTime = True
for filename in os.listdir(directory):
    if (filename.endswith(".csv")):
        filepath = os.path.join(directory, filename)
        df_original = pd.read_csv(filepath)
        
#         num_rows_before = df_original.shape[0]
    
#         twenty = num_rows_before * 0.20
#         twenty = math.ceil(twenty)
        
#         #test = test.iloc[fivePercent:]
#         df_original_remove20 = df_original.iloc[:-twenty]
        
         
       
        df_processed = preprocess(df_original, filename[:-4])

        df_final_sw = pd.concat([df_final_sw, df_processed])
        
df_final_sw['name'] = df_final_sw['name'].astype(str) + "_sw"
df_final_sw

,name,time,LA(x),LA(y),LA(z),GY(x),GY(y),GY(z)
0,alibadawy_sw,1970-01-01 00:00:00.000,-0.268265,-0.005538,-0.071094,-0.016798,0.103233,0.033138
1,alibadawy_sw,1970-01-01 00:00:00.005,-0.163861,-0.004340,0.122527,-0.017613,0.110563,0.034157
2,alibadawy_sw,1970-01-01 00:00:00.010,-0.018824,-0.011455,0.059537,-0.018936,0.123697,0.031000
3,alibadawy_sw,1970-01-01 00:00:00.015,0.043948,-0.010231,0.135187,-0.019445,0.136423,0.030288
4,alibadawy_sw,1970-01-01 00:00:00.020,0.106720,-0.009007,0.210836,-0.013744,0.146603,0.027030
...,...,...,...,...,...,...,...,...
5275,zoz_sw,1970-01-01 00:00:26.375,0.032646,0.028275,0.519662,0.135150,-0.022907,0.223494
5276,zoz_sw,1970-01-01 00:00:26.380,-0.478584,-0.296353,0.069982,0.152254,-0.098041,0.268391
5277,zoz_sw,1970-01-01 00:00:26.385,-0.897290,-0.563466,-0.287334,0.155308,-0.165234,0.318786
5278,zoz_sw,1970-01-01 00:00:26.390,-1.035197,-0.655348,-0.474507,0.145534,-0.212269,0.362156
5279,zoz_sw,1970-01-01 00:00:26.395,-0.902300,-0.544031,-0.451925,0.134234,-0.234260,0.385063

In [5]:
df_final_bp = pd.DataFrame(columns=['name','time','LA(x)', 'LA(y)', 'LA(z)','GY(x)', 'GY(y)', 'GY(z)'])
# directory = os.path.join(os.getcwd(), 'straightWalk')
directory = "D:/My_Dataset_Renamed/backpack"
x=1
firstTime = True
for filename in os.listdir(directory):
    if (filename.endswith(".csv")):
        filepath = os.path.join(directory, filename)
        df_original = pd.read_csv(filepath)
        
#         num_rows_before = df_original.shape[0]
    
#         twenty = num_rows_before * 0.20
#         twenty = math.ceil(twenty)
        
#         #test = test.iloc[fivePercent:]
#         df_original_remove20 = df_original.iloc[:-twenty]
        
         
       
        df_processed = preprocess(df_original, filename[:-4])

        df_final_bp = pd.concat([df_final_bp, df_processed])
        
df_final_bp['name'] = df_final_bp['name'].astype(str) + "_bp"
df_final_bp

,name,time,LA(x),LA(y),LA(z),GY(x),GY(y),GY(z)
0,dinaelgendy_bp,1970-01-01 00:00:00.000,-1.893261,1.146352,-4.273222,-0.368646,0.474934,-0.203488
1,dinaelgendy_bp,1970-01-01 00:00:00.005,-2.662200,0.620083,-4.245460,-0.329858,0.490358,-0.265948
2,dinaelgendy_bp,1970-01-01 00:00:00.010,-3.249278,0.504086,-3.678744,-0.209826,0.467909,-0.285647
3,dinaelgendy_bp,1970-01-01 00:00:00.015,-3.462260,0.868586,-2.651723,-0.072996,0.412933,-0.277096
4,dinaelgendy_bp,1970-01-01 00:00:00.020,-2.574140,2.175757,0.207520,0.077883,0.353375,-0.256327
...,...,...,...,...,...,...,...,...
5584,yusuf_bp,1970-01-01 00:00:27.925,-1.028815,0.161180,3.087652,0.452994,0.177731,0.118937
5585,yusuf_bp,1970-01-01 00:00:27.930,-0.959788,0.117171,2.443160,0.482518,0.198551,0.134717
5586,yusuf_bp,1970-01-01 00:00:27.935,-0.632857,-0.021539,0.897996,0.482722,0.190610,0.144287
5587,yusuf_bp,1970-01-01 00:00:27.940,-0.206635,0.006004,-0.099991,0.435381,0.135226,0.117817
5588,yusuf_bp,1970-01-01 00:00:27.945,0.336707,0.063686,-0.883374,0.376740,0.077196,0.084526

In [6]:
df_final_st = pd.DataFrame(columns=['name','time','LA(x)', 'LA(y)', 'LA(z)','GY(x)', 'GY(y)', 'GY(z)'])
# directory = os.path.join(os.getcwd(), 'straightWalk')
directory = "D:/My_Dataset_Renamed/stairs"
x=1
firstTime = True
for filename in os.listdir(directory):
    if (filename.endswith(".csv")):
        filepath = os.path.join(directory, filename)
        df_original = pd.read_csv(filepath)
        
#         num_rows_before = df_original.shape[0]
    
#         twenty = num_rows_before * 0.20
#         twenty = math.ceil(twenty)
        
#         #test = test.iloc[fivePercent:]
#         df_original_remove20 = df_original.iloc[:-twenty]
        
         
       
        df_processed = preprocess(df_original, filename[:-4])

        df_final_st = pd.concat([df_final_st, df_processed])
        
df_final_st['name'] = df_final_st['name'].astype(str) + "_st"
df_final_st

,name,time,LA(x),LA(y),LA(z),GY(x),GY(y),GY(z)
0,ahmedamin_st,1970-01-01 00:00:00.000,1.017512,-0.197282,-0.216393,0.156835,0.085900,-0.139960
1,ahmedamin_st,1970-01-01 00:00:00.005,0.839003,-0.123386,-0.121983,0.155919,0.086817,-0.147291
2,ahmedamin_st,1970-01-01 00:00:00.010,0.632093,-0.073514,-0.174647,0.153781,0.075211,-0.146985
3,ahmedamin_st,1970-01-01 00:00:00.015,0.433957,-0.079890,-0.259684,0.157140,0.060550,-0.145458
4,ahmedamin_st,1970-01-01 00:00:00.020,0.301976,-0.120900,-0.183627,0.169765,0.042530,-0.142607
...,...,...,...,...,...,...,...,...
6011,yusuf_st,1970-01-01 00:00:30.060,1.170174,0.191718,0.244606,-0.037338,0.125758,0.035200
6012,yusuf_st,1970-01-01 00:00:30.065,1.003289,0.199782,-0.175847,-0.074600,0.113541,0.026037
6013,yusuf_st,1970-01-01 00:00:30.070,0.600925,0.281631,-0.559561,-0.121635,0.111709,0.030619
6014,yusuf_st,1970-01-01 00:00:30.075,0.195521,0.349347,-0.914096,-0.179055,0.121177,0.050166
6015,yusuf_st,1970-01-01 00:00:30.080,-0.111762,0.469113,-1.098810,-0.242277,0.153246,0.082235

In [7]:
df_final_h = pd.DataFrame(columns=['name','time','LA(x)', 'LA(y)', 'LA(z)','GY(x)', 'GY(y)', 'GY(z)'])
# directory = os.path.join(os.getcwd(), 'straightWalk')
directory = "D:/My_Dataset_Renamed/hand"
x=1
firstTime = True
for filename in os.listdir(directory):
    if (filename.endswith(".csv")):
        filepath = os.path.join(directory, filename)
        df_original = pd.read_csv(filepath)
        
#         num_rows_before = df_original.shape[0]
    
#         twenty = num_rows_before * 0.20
#         twenty = math.ceil(twenty)
        
#         #test = test.iloc[fivePercent:]
#         df_original_remove20 = df_original.iloc[:-twenty]
        
         
       
        df_processed = preprocess(df_original, filename[:-4])

        df_final_h = pd.concat([df_final_h, df_processed])
        
df_final_h['name'] = df_final_h['name'].astype(str) + "_h"
df_final_h

,name,time,LA(x),LA(y),LA(z),GY(x),GY(y),GY(z)
0,ahmedamir_h,1970-01-01 00:00:00.000,-0.609619,-0.017998,0.810964,-0.500131,0.039476,-1.357990
1,ahmedamir_h,1970-01-01 00:00:00.005,-0.756753,-0.250169,0.878092,-0.588704,0.104531,-1.409301
2,ahmedamir_h,1970-01-01 00:00:00.010,-0.937530,-0.642891,1.007172,-0.691734,0.187912,-1.463056
3,ahmedamir_h,1970-01-01 00:00:00.015,-1.106145,-1.037416,1.167536,-0.785702,0.274080,-1.507342
4,ahmedamir_h,1970-01-01 00:00:00.020,-1.205045,-1.327061,1.267284,-0.871526,0.365541,-1.542466
...,...,...,...,...,...,...,...,...
4835,yusuf_h,1970-01-01 00:00:24.175,0.424837,-0.259660,0.340178,-0.015424,-0.021151,-0.102393
4836,yusuf_h,1970-01-01 00:00:24.180,0.452574,-0.188061,0.120887,-0.044439,-0.018402,-0.104837
4837,yusuf_h,1970-01-01 00:00:24.185,0.449271,-0.198846,-0.057106,-0.086791,-0.016060,-0.106567
4838,yusuf_h,1970-01-01 00:00:24.190,0.442653,-0.248956,-0.151896,-0.115908,-0.010155,-0.109418
4839,yusuf_h,1970-01-01 00:00:24.195,0.341536,-0.301758,-0.155026,-0.129652,-0.014431,-0.110334

In [8]:
df_final = pd.concat([df_final_sw, df_final_bp, df_final_st, df_final_h], axis=0)
# df_final = df_final_sw.copy()
df_final

,name,time,LA(x),LA(y),LA(z),GY(x),GY(y),GY(z)
0,alibadawy_sw,1970-01-01 00:00:00.000,-0.268265,-0.005538,-0.071094,-0.016798,0.103233,0.033138
1,alibadawy_sw,1970-01-01 00:00:00.005,-0.163861,-0.004340,0.122527,-0.017613,0.110563,0.034157
2,alibadawy_sw,1970-01-01 00:00:00.010,-0.018824,-0.011455,0.059537,-0.018936,0.123697,0.031000
3,alibadawy_sw,1970-01-01 00:00:00.015,0.043948,-0.010231,0.135187,-0.019445,0.136423,0.030288
4,alibadawy_sw,1970-01-01 00:00:00.020,0.106720,-0.009007,0.210836,-0.013744,0.146603,0.027030
...,...,...,...,...,...,...,...,...
4835,yusuf_h,1970-01-01 00:00:24.175,0.424837,-0.259660,0.340178,-0.015424,-0.021151,-0.102393
4836,yusuf_h,1970-01-01 00:00:24.180,0.452574,-0.188061,0.120887,-0.044439,-0.018402,-0.104837
4837,yusuf_h,1970-01-01 00:00:24.185,0.449271,-0.198846,-0.057106,-0.086791,-0.016060,-0.106567
4838,yusuf_h,1970-01-01 00:00:24.190,0.442653,-0.248956,-0.151896,-0.115908,-0.010155,-0.109418
4839,yusuf_h,1970-01-01 00:00:24.195,0.341536,-0.301758,-0.155026,-0.129652,-0.014431,-0.110334

In [9]:
df_Xtime = df_final.drop(['time'], axis = 1).copy()
df_Xtime.shape

(514706, 7)

In [10]:
label = LabelEncoder()
df_Xtime['label'] = label.fit_transform(df_Xtime['name'])
df_Xtime

,name,LA(x),LA(y),LA(z),GY(x),GY(y),GY(z),label
0,alibadawy_sw,-0.268265,-0.005538,-0.071094,-0.016798,0.103233,0.033138,3
1,alibadawy_sw,-0.163861,-0.004340,0.122527,-0.017613,0.110563,0.034157,3
2,alibadawy_sw,-0.018824,-0.011455,0.059537,-0.018936,0.123697,0.031000,3
3,alibadawy_sw,0.043948,-0.010231,0.135187,-0.019445,0.136423,0.030288,3
4,alibadawy_sw,0.106720,-0.009007,0.210836,-0.013744,0.146603,0.027030,3
...,...,...,...,...,...,...,...,...
4835,yusuf_h,0.424837,-0.259660,0.340178,-0.015424,-0.021151,-0.102393,92
4836,yusuf_h,0.452574,-0.188061,0.120887,-0.044439,-0.018402,-0.104837,92
4837,yusuf_h,0.449271,-0.198846,-0.057106,-0.086791,-0.016060,-0.106567,92
4838,yusuf_h,0.442653,-0.248956,-0.151896,-0.115908,-0.010155,-0.109418,92
4839,yusuf_h,0.341536,-0.301758,-0.155026,-0.129652,-0.014431,-0.110334,92

In [11]:
len(df_final_sw)

155302

In [12]:
len(label.classes_)

96

In [13]:
X = df_Xtime[['LA(x)', 'LA(y)', 'LA(z)','GY(x)', 'GY(y)', 'GY(z)']].copy()
y = df_Xtime['label'].copy()

In [14]:
scaler = StandardScaler()
X_transformed = X.copy()
X_transformed = scaler.fit_transform(X_transformed)

scaled_X = pd.DataFrame(data = X_transformed, columns = ['LA(x)', 'LA(y)', 'LA(z)','GY(x)', 'GY(y)', 'GY(z)'])
scaled_X['label'] = y.values

scaled_X

           LA(x)     LA(y)     LA(z)     GY(x)     GY(y)     GY(z)  label
0      -0.155059  0.124667 -0.099889 -0.053019  0.127689  0.043789      3
1      -0.116314  0.125089 -0.037980 -0.053824  0.133642  0.044983      3
2      -0.062489  0.122583 -0.058121 -0.055134  0.144309  0.041281      3
3      -0.039194  0.123014 -0.033933 -0.055638  0.154644  0.040445      3
4      -0.015898  0.123445 -0.009744 -0.049997  0.162913  0.036624      3
...          ...       ...       ...       ...       ...       ...    ...
514701  0.102157  0.035148  0.031612 -0.051659  0.026670 -0.115194     92
514702  0.112451  0.060370 -0.038505 -0.080367  0.028902 -0.118060     92
514703  0.111225  0.056571 -0.095416 -0.122272  0.030804 -0.120090     92
514704  0.108769  0.038919 -0.125725 -0.151082  0.035600 -0.123434     92
514705  0.071244  0.020318 -0.126726 -0.164680  0.032127 -0.124509     92

[514706 rows x 7 columns]

In [15]:
import scipy.stats as stats

Fs = 200
frame_size = int(Fs*9)
hop_size = int(Fs*2)

In [16]:
#!!!!! Manually Change last_value(num_values)
df_framed = pd.DataFrame(columns=['name','mean_LA(x)', 'mean_LA(y)', 'mean_LA(z)', 'mean_GY(x)', 'mean_GY(y)', 'mean_GY(z)','sd_LA(x)', 'sd_LA(y)', 'sd_LA(z)', 'sd_GY(x)', 'sd_GY(y)', 'sd_GY(z)'])
def get_frames(df, frame_size, hop_size):
    
    last_value =  len(label.classes_)
    for j in range (0,last_value): 
        filtered_df = df[df['label'] == j]
        filtered_df = filtered_df.drop('label', axis = 1)
        for i in range(0, len(filtered_df) - frame_size, hop_size):
            frame = filtered_df[i: i + frame_size]

            new_row = [j
                       ,frame['LA(x)'].mean(), frame['LA(y)'].mean(), frame['LA(z)'].mean(),
                       frame['GY(x)'].mean(), frame['GY(y)'].mean(), frame['GY(z)'].mean(),
                       frame['LA(x)'].std(), frame['LA(y)'].std(), frame['LA(z)'].std(),
                       frame['GY(x)'].std(), frame['GY(y)'].std(), frame['GY(z)'].std()]



            df_framed.loc[len(df_framed)] = new_row


    return df_framed

In [17]:
df_framed = get_frames(scaled_X,frame_size,hop_size)
df_framed

,name,mean_LA(x),mean_LA(y),mean_LA(z),mean_GY(x),mean_GY(y),mean_GY(z),sd_LA(x),sd_LA(y),sd_LA(z),sd_GY(x),sd_GY(y),sd_GY(z)
0,0.0,-0.060302,0.041669,0.015384,-0.042363,0.042405,-0.016794,0.767506,1.288589,0.795586,0.969444,0.470172,0.479947
1,0.0,-0.039353,0.015925,0.057178,-0.047624,0.274825,0.001078,0.818952,1.314529,0.844842,1.167791,0.781516,0.516364
2,0.0,-0.042254,-0.017508,0.096149,-0.054806,0.340821,0.000790,0.934100,1.581572,1.056052,1.367940,0.803929,0.557844
3,0.0,-0.002632,-0.079600,0.092790,-0.056058,0.340326,0.015385,0.997043,1.617165,1.088233,1.467004,0.849879,0.595146
4,0.0,0.007483,-0.043714,0.131566,-0.056669,0.523408,0.045456,1.131825,1.562512,1.119230,1.497269,0.937314,0.619911
...,...,...,...,...,...,...,...,...,...,...,...,...,...
895,95.0,-0.067721,0.114809,-0.104571,-0.229231,-0.446064,-0.179763,0.790995,0.731748,0.704673,0.835874,0.958811,0.649657
896,95.0,-0.038081,0.126862,-0.084341,-0.240608,-0.476415,-0.177672,0.748810,0.716933,0.697569,0.833457,0.939837,0.609125
897,95.0,-0.064737,0.129726,-0.111038,-0.126996,-0.257740,-0.093786,0.754271,0.742915,0.684510,0.853425,0.836525,0.596941
898,95.0,-0.059051,0.110090,-0.099369,-0.215714,-0.441408,-0.158420,0.702562,0.671696,0.643703,0.758968,0.904680,0.579898
899,95.0,0.009428,0.142753,-0.025434,-0.287262,-0.311240,-0.193581,0.625156,0.587171,0.584745,0.815240,1.037679,0.866885

In [18]:
X = df_framed.drop('name', axis=1)  # Features (all columns except the target)
y = df_framed['name']  # Labels

In [19]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 0, stratify = y)
X_train.shape, X_test.shape

((630, 12), (270, 12))

In [20]:
occurrences = y_test.value_counts()
print(occurrences.mean())

2.8125

In [21]:
dtrain = xgb.DMatrix(X_train, label=y_train)
dtest = xgb.DMatrix(X_test)
#dval = xgb.DMatrix(X_validation, label=y_validation)
dtrain, dtest #, dval

(<xgboost.core.DMatrix at 0x24755bd98d0>,
 <xgboost.core.DMatrix at 0x24755bc73a0>)

In [22]:
params = {
    'max_depth': 7,
    'learning_rate': 0.3,
    'objective': 'multi:softmax',
    'num_class': len(label.classes_)
}
epochs = 25
evals_result = {}  # Initialize an empty dictionary to store the evaluation results

In [23]:
# model = xgb.train(params, dtrain, epochs,  verbose_eval=1)

In [24]:
model = xgb.train(params, dtrain, epochs, evals=[(dtrain, 'train')],
                  verbose_eval=1)

[0]	train-mlogloss:3.56093
[1]	train-mlogloss:2.88752
[2]	train-mlogloss:2.26355
[3]	train-mlogloss:1.75653
[4]	train-mlogloss:1.37267
[5]	train-mlogloss:1.07369
[6]	train-mlogloss:0.85351
[7]	train-mlogloss:0.69320
[8]	train-mlogloss:0.56812
[9]	train-mlogloss:0.47338
[10]	train-mlogloss:0.39954
[11]	train-mlogloss:0.34204
[12]	train-mlogloss:0.29652
[13]	train-mlogloss:0.25932
[14]	train-mlogloss:0.22961
[15]	train-mlogloss:0.20430
[16]	train-mlogloss:0.18396
[17]	train-mlogloss:0.16687
[18]	train-mlogloss:0.15248
[19]	train-mlogloss:0.14065
[20]	train-mlogloss:0.13184
[21]	train-mlogloss:0.12491
[22]	train-mlogloss:0.11934
[23]	train-mlogloss:0.11457
[24]	train-mlogloss:0.11028

In [25]:
predictions = model.predict(dtest)
accuracy_score(y_test, predictions)

0.7518518518518519